{% use "bootstrap_4_horizontal_layout.html.twig" %}

{% block form_label -%}
    {%- if label is same as(false) -%}
        {#<div class="{{ block('form_label_class') }}"></div>#}
    {%- else -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_label %}

{%- block form_widget_compound -%}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}

{%- block form_widget_simple -%}
    {% set unit = form.parent.vars.unit is defined and form.parent.vars.unit ? form.parent.vars.unit : form.vars.unit %}

    {% if unit %}<div class="input-group">{% endif %}
    {{ parent() }}
    {% if unit %}
        <div class="input-group-append">
            <span class="input-group-text">{{ unit|trans|raw }}</span>
        </div>
    {% endif %}
    {% if unit %}</div>{% endif %}
{%- endblock form_widget_simple -%}

{% block vich_file_widget %}
    {% apply spaceless %}
        {{ form_widget(form.file) }}
        {{ form_errors(form.file) }}
        {% if form.delete is defined %}
            {{ form_widget(form.delete) }}
            {{ form_errors(form.delete) }}
        {% endif %}
    {% endapply %}
{% endblock %}

{% block vich_image_widget %}
    {% apply spaceless %}
        {{ form_widget(form.file) }}
        {{ form_errors(form.file) }}
        {% if form.delete is defined %}
            {{ form_widget(form.delete) }}
            {{ form_errors(form.delete) }}
        {% endif %}
    {% endapply %}
{% endblock %}
