{% extends 'base.html.twig' %}

{% block meta_robots %}<meta name="robots" content="noindex,noarchive,follow">{% endblock %}

{% block title %}{{ 'imprint.privacy.policies'|trans }}{% endblock %}

{% block body_id %}imprint-privacy{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ asset('assets/images/layout/cover-placeholder.jpg')|imagine_filter('post_show') }}" alt="{{ 'header.photography'|trans }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1>{{ 'imprint.privacy.policies'|trans }}</h1>

        <address id="imprint" class="text-container text-center" style="padding: 50px 0">
            <p>
                {{ 'imprint.address'|trans|raw }}
            </p>
            <p>
                {{ 'imprint.email.label'|trans }}: <a href="mailto:{{ 'imprint.email.value'|trans }}">{{ 'imprint.email.text'|trans }}</a><br/>
                {{ 'imprint.phone.label'|trans }}: {{ 'imprint.phone.text'|trans }}<br/>
            </p>
        </address>

        <div class="text-container">
            <strong>{{ 'imprint.contradiction.advertising_emails.head'|trans }}</strong>
            <p>
                {{ 'imprint.contradiction.advertising_emails.text'|trans }}
            </p>

            <br/>

            <strong>{{ 'imprint.copyright.head'|trans }}</strong>
            <p>
                {{ 'imprint.copyright.text'|trans }}
            </p>

            <hr/>

            <h2 class="h4">{{ 'privacy.first.head'|trans }}</h2>

            <strong>{{ 'privacy.first.general.head'|trans }}</strong>
            <p>
                {{ 'privacy.first.general.text'|trans|raw }}
            </p>

            <h3 class="h5">{{ 'privacy.first.acquisition.head'|trans }}</h3>

            <strong>{{ 'privacy.first.acquisition.question.first.q'|trans }}</strong>
            <p>
                {{ 'privacy.first.acquisition.question.first.a'|trans|raw }}
            </p>

            <strong>{{ 'privacy.first.acquisition.question.second.q'|trans }}</strong>
            <p>
                {{ 'privacy.first.acquisition.question.second.a'|trans|raw }}
            </p>

            <strong>{{ 'privacy.first.acquisition.question.third.q'|trans }}</strong>
            <p>
                {{ 'privacy.first.acquisition.question.third.a'|trans|raw }}
            </p>

            <strong>{{ 'privacy.first.acquisition.question.fourth.q'|trans }}</strong>
            <p>
                {{ 'privacy.first.acquisition.question.fourth.a'|trans|raw }}
            </p>

            <strong>{{ 'privacy.first.tools.head'|trans }}</strong>
            <p>
                {{ 'privacy.first.tools.text'|trans|raw }}
            </p>

            <h2 class="h4 pt-3">{{ 'privacy.second.head'|trans }}</h2>

            <strong>{{ 'privacy.second.privacy.head'|trans }}</strong>
            <p>
                {{ 'privacy.second.privacy.text'|trans|raw }}
            </p>

            <strong>{{ 'privacy.second.hint.head'|trans }}</strong>
            <p>
                {{ 'privacy.second.hint.text'|trans|raw }}
            </p>

            <strong>{{ 'privacy.second.revocation.head'|trans }}</strong>
            <p>
                {{ 'privacy.second.revocation.text'|trans|raw }}
            </p>

            <strong>{{ 'privacy.second.revocation_right.head'|trans }}</strong>
            <p>
                {{ 'privacy.second.revocation_right.text'|trans|raw }}
            </p>

            <strong>{{ 'privacy.second.complaint.head'|trans }}</strong>
            <p>
                {{ 'privacy.second.complaint.text'|trans|raw }}
            </p>

            <strong>{{ 'privacy.second.portability.head'|trans }}</strong>
            <p>
                {{ 'privacy.second.portability.text'|trans|raw }}
            </p>

            <strong>{{ 'privacy.second.ssl.head'|trans }}</strong>
            <p>
                {{ 'privacy.second.ssl.text'|trans|raw }}
            </p>

            <strong>{{ 'privacy.second.inform.head'|trans }}</strong>
            <p>
                {{ 'privacy.second.inform.text'|trans|raw }}
            </p>

            <strong>{{ 'privacy.second.limit.head'|trans }}</strong>
            <p>
                {{ 'privacy.second.limit.text'|trans|raw }}
            </p>

            <h2 class="h4 pt-3">{{ 'privacy.third.head'|trans }}</h2>

            <strong>{{ 'privacy.fourth.server.head'|trans }}</strong>
            <p>
                {{ 'privacy.fourth.server.text'|trans|raw }}
            </p>

{#            <strong>{{ 'privacy.third.contact.head'|trans }}</strong>#}
{#            <p>#}
{#                {{ 'privacy.third.contact.text'|trans|raw }}#}
{#            </p>#}

            <h2 class="h4 pt-3">{{ 'privacy.fourth.head'|trans }}</h2>

            {% if matomo_host and matomo_site_id %}
                <strong>{{ 'privacy.fourth.matomo.head'|trans }}</strong>
                <p>
                    {{ 'privacy.fourth.matomo.text'|trans|raw }}
                </p>
            {% endif %}

            <strong>{{ 'privacy.fourth.osm.head'|trans }}</strong>
            <p>
                {{ 'privacy.fourth.osm.text'|trans|raw }}
            </p>

            <br/>
        </div>

    </section>
{% endblock %}
