{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% import 'templates/macro/macro.html.twig' as macro %}
{% extends 'base.html.twig' %}

{% block meta_description %}{{ entry.description ? entry.description|striptags|u.truncate(160) : (entry.name ~ ': ' ~ entry.tags|join(', '))|u.truncate(160) }}{% endblock %}

{% block meta_image %}{{ absolute_url(vich_uploader_asset(entry.image, 'file')) }}{% endblock %}

{% block title %}{{ entry.name }}{% endblock %}

{% block content %}
    <section id="entry" class="container entry">
        <div class="entry-centerer">
            <article class="entry-inner row">
                <div class="entry-image col-xs-12 col-lg-8 col-xl-9">
                    <div class="entry-image-container">
                        {% if next %}
                            <a class="next" href="{{ path('entry_show', {'slug': next.slug}) }}" title="{{ 'next'|trans }}">
                                <span class="icon icon-angle"><svg><use xlink:href="#angle-icon"/></svg></span>
                            </a>
                        {% endif %}

                        <img src="{{ vich_uploader_asset(entry.image, 'file')|imagine_filter('entry_show') }}" alt="{{ entry.name }}">

                        {% if prev %}
                            <a class="prev" href="{{ path('entry_show', {'slug': prev.slug}) }}" title="{{ 'prev'|trans }}">
                                <span class="icon icon-angle icon-rotate-180"><svg><use xlink:href="#angle-icon"/></svg></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="entry-info col-xs-12 col-lg-4 col-xl-3">
                    <h1 class="entry-title">
                        {{ entry.name }}
                    </h1>
                    {{ entry.description|raw }}
                    {{ macro.entry_meta(entry) }}
                    {{ macro.entry_tags(entry) }}
                    <a class="btn btn-teritary" href="{{ vich_uploader_asset(entry.image, 'file') }}" target="_blank">
                        <span class="icon icon-sm icon-download pr-1"><svg><use xlink:href="#download-icon"/></svg></span> {{ 'download'|trans }}
                    </a>
                </div>
            </article>
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/img/layout/icons/angle-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/download-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.imageObject(entry) }}
    </script>

    {{ parent() }}
{% endblock %}
