{% import 'templates/macro/macro.html.twig' as macro %}
{% extends 'admin.html.twig' %}

{% block title %}{{ 'header.edit'|trans }} - {{ post.name }}{% endblock %}

{% block modals %}
    {{ parent() }}
    {{ macro.create_delete_modal('modal.delete.msg.post', post.name, deleteForm) }}
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between">
        <h1 class="h3 mb-4 text-gray-800">{{ post.name }}</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('post_show', {'slug': post.slug}) }}" target="_blank" title="{{ 'btn.live_view'|trans }}">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    {{ form_start(form, {'action': path('admin_post_edit', {'id': post.id})}) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <div class="d-flex justify-content-between">
            <button class="btn btn-success" type="submit" name="submit">{{ 'btn.submit'|trans }}</button>
            <button class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#deleteModal">{{ 'btn.delete'|trans }}</button>
        </div>

    {{ form_end(form) }}

{% endblock %}
