{%- macro create_delete_modal(body, entity, deleteLink) -%}
    {%- spaceless -%}
        <div id="deleteModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'delete'|trans }}?</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ body|trans }} <strong>{{ entity }}</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ deleteLink }}" class="btn btn-danger">{{ 'delete'|trans }}</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {%- endspaceless -%}
{%- endmacro -%}
