{%- macro create_delete_modal(body, entity, deleteLink) -%}
    {% filter spaceless %}
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">{{ 'delete'|trans }}?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ body|trans }} <strong>{{ entity }}</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
                        <a href="{{ deleteLink }}" class="btn btn-danger">{{ 'delete'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfilter %}
{%- endmacro -%}
