{% extends 'admin.html.twig' %}

{% block title %}{{ 'header.authors'|trans }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">

        <div class="page-header">
            <div class="pull-left">
                <h1>{{ 'header.authors'|trans }}</h1>
            </div>
            <div class="pull-right">
                <ul class="actions list-unstyled pull-right">
                    <li><a class="btn btn-primary" href="{{ path('admin_author_new') }}">{{ 'header.new.author'|trans }}</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'label.name'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ author.name }}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_author_edit', {'id': author.id}) }}" title="{{ 'btn.edit'|trans }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
