{% extends 'admin.html.twig' %}

{% block title %}{{ 'new.author'|trans }}{% endblock %}

{% block body %}

    <h1 class="h3 mb-4 text-gray-800">{{ 'new.author'|trans }}</h1>

    {{ form_start(form, {'action': path('admin_author_new')}) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <div class="form-group">
            <button class="btn btn-success" type="submit" name="submit">{{ 'submit'|trans }}</button>
        </div>

    {{ form_end(form) }}

{% endblock %}
