<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'admin'|trans }}{% endblock %} | {{ 'photography'|trans }}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/dist/css/admin.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<!-- Template by Fabian Schmick https://github.com/FabianSchmick/photography -->

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% htmlcompress %}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin_index') }}"> <img src="{{ asset('assets/img/logo.png') }}" id="logo" alt="logo">{{ 'photography'|trans }} {{ 'admin'|trans }}</a>
        </div>

        {% set request = app.request %}
        <ul class="nav navbar-top-links navbar-right">
            <li id="change-language" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" title="{{ 'languages'|trans }}">
                    <span class="flag"><svg><use xlink:href="#{{ request.locale }}-icon"/></svg></span> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    {% for locale in locales|split('|') %}
                        {% set lang = 'locale.' ~ locale %}
                        <li>
                            <a href="{{ path('localeAdmin', {'_locale': locale}) }}" class="{% if request.locale == locale %}active{% endif %}">
                            <span class="flag">
                                <svg>
                                    <use xlink:href="#{{ locale }}-icon"/>
                                </svg>
                            </span> {{ lang|trans }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="{{ path('homepage', {'_locale': request.locale}) }}" target="_blank">
                    <i class="fa fa-home"></i> {{ 'homepage'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('logout') }}" title="{{ 'logout'|trans }}">
                    <i class="fa fa-sign-out "></i>
                </a>
            </li>
        </ul>

        {{ render(controller('AppBundle:Admin/Admin:renderSidebar')) }}
        {% endhtmlcompress %}

    </nav>

    <div id="page-wrapper">
        {% htmlcompress %}
            {% block body %}
            {% endblock %}
        {% endhtmlcompress %}

    </div>

</div>

<div id="embed-svg" style="display: none">
    {% block embed_svg %}
        {{ asset('assets/img/layout/icons/de-icon.svg')|inline_svg() }}
        {{ asset('assets/img/layout/icons/en-icon.svg')|inline_svg() }}
        {{ asset('assets/img/layout/icons/spinner-icon.svg')|inline_svg() }}
    {% endblock embed_svg %}
</div>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/dist/js/admin.js') }}"></script>
{% endblock %}
</body>
</html>
