<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_robots %}
        <meta name="robots" content="noarchive">
    {% endblock %}

    {% block social_tags %}
        <meta name="description" content="{% block meta_description %}{{ 'meta.desc'|trans }}{% endblock %}">
        <meta property="og:title" content="{{ block('title') }}"/>
        <meta property="og:type" content="website"/>
        {% if app.request.attributes.get('_route') %}
            <meta property="og:url" content="{{ url(app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params')) }}"/>
        {% endif %}
        <meta property="og:image" content="{% block meta_image %}{{ absolute_url(asset('assets/img/layout/cover-placeholder.jpg')) }}{% endblock %}"/>
        <meta property="og:description" content="{{ block('meta_description') }}"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="{{ block('title') }}"/>
        <meta name="twitter:description" content="{{ block('meta_description') }}"/>
        <meta name="twitter:image" content="{{ block('meta_image') }}"/>
        <meta itemprop="name" content="{{ block('title') }}"/>
        <meta itemprop="description" content="{{ block('meta_description') }}"/>
        <meta itemprop="image" content="{{ block('meta_image') }}"/>
    {% endblock %}

    <title>{% block title %}{{ 'photography'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/dist/css/main.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body id="{% block body_id %}body{% endblock %}">

<!-- Template by Fabian Schmick https://github.com/FabianSchmick/photography -->

<noscript>
    <style>
        header#menu { margin-top: 55px; }
    </style>
    <div class="alert alert-danger" role="alert">
        {{ 'noscript'|trans }}
    </div>
</noscript>

<header id="menu" class="navbar navbar-default navbar-fixed-top">
    <nav class="container">
        {% htmlcompress %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}"><img src="" alt="logo"/> {{ 'photography'|trans }}</a>
            </div>

            {% set request = app.request %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('homepage') }}#cover" class="page-scroll" data-target="#cover">{{ 'home'|trans }}</a></li>
                    <li><a href="{{ path('homepage') }}#introduction" class="page-scroll" data-target="#introduction">{{ 'introduction'|trans }}</a></li>
                    <li><a href="{{ path('homepage') }}#entries" class="page-scroll" data-target="#entries">{{ 'gallery'|trans }}</a></li>
                    <li><a href="{{ path('tour_index_paginated', {'page': '1'}) }}" class="page-scroll" data-target="#tours">{{ 'tours'|trans }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="flag"><svg><use xlink:href="#{{ request.locale }}-icon"/></svg></span> {{ 'languages'|trans }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for locale in locales|split('|') %}
                                {% set lang = 'locale.' ~ locale %}
                                <li>
                                    <a href="{{ path('homepage', {'_locale': locale}) }}" class="{% if request.locale == locale %}active{% endif %}">
                                        <span class="flag">
                                            <svg>
                                                <use xlink:href="#{{ locale }}-icon"/>
                                            </svg>
                                        </span> {{ lang|trans }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        {% endhtmlcompress %}

    </nav>
</header>

{% block cover %}
{% endblock %}

<main>
    {% htmlcompress %}
    {% block content %}
        <section id="content">
        </section>
    {% endblock %}
    {% endhtmlcompress %}

</main>

<div id="embed-svg" style="display: none">
    {% block embed_svg %}
        {{ asset('assets/img/layout/icons/de-icon.svg')|inline_svg() }}
        {{ asset('assets/img/layout/icons/en-icon.svg')|inline_svg() }}
    {% endblock embed_svg %}
</div>

{% block javascripts %}
    {% if app.request.attributes.get('_route') %}
        <script type="text/javascript">
            var pageUrl = "{{ url(app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params')) }}";
        </script>
    {% endif %}

    <script type="text/javascript" src="{{ asset('assets/dist/js/main.js') }}"></script>
{% endblock %}
</body>
</html>
