<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block metaDesc %}{{ 'photography'|trans }}{% endblock %}">
    <title>{% block title %}{{ 'photography'|trans }}{% endblock %} | {{ 'photography'|trans }}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('min/css/main.css'|asset_version) }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<header>
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}"><img src="" alt="logo"/></a>
            </div>

            {% set request = app.request %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('homepage') }}#cover" class="page-scroll" data-target="#cover">{{ 'home'|trans }}</a></li>
                    <li><a href="{{ path('homepage') }}#entries" class="page-scroll" data-target="#entries">{{ 'gallery'|trans }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="flag" style="background-image: url({{ asset('assets/img/layout/icons/'~ app.request.locale ~ '.jpg') }})"></span> {{ 'languages'|trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for locale in locales|split('|') %}
                                {% set lang = 'locale.' ~ locale %}
                                <li>
                                    <a href="{{ path('homepage', {'_locale': locale}) }}" class="{% if request.locale == locale %}active{% endif %}">
                                        <span class="flag" style="background-image: url({{ asset('assets/img/layout/icons/'~ locale ~ '.jpg') }})"></span> {{ lang|trans }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block cover %}
{% endblock %}

<main>
    {% block content %}
        <section id="content">
        </section>
    {% endblock %}
</main>

{% block javascripts %}
    <script type="text/javascript">
        var paginateUrl = "{{ path('paginate_entries') }}",
            homeUrl = "{{ path('homepage') }}";
    </script>

    <script type="text/javascript" src="{{ asset('min/js/main.js'|asset_version) }}"></script>

    <script type="application/javascript">
        jQuery(document).ready(function() {
        });
    </script>
{% endblock %}
</body>
</html>
