{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block form_errors %}
    {% filter spaceless %}
        {% if errors|length > 0 %}
            <span class="help-block">
                <ul class="list-unstyled text-danger">
                {% for error in errors %}
                    <li>{{ error.message|trans|raw }}</li>
                {% endfor %}
                </ul>
            </span>
        {% endif %}
    {% endfilter %}
{% endblock form_errors %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{% block form_label -%}
    {%- if label is same as(false) -%}
        {#<div class="{{ block('form_label_class') }}"></div>#}
    {%- else -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_label %}

{%- block form_widget_compound -%}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}

{%- block choice_widget_collapsed -%}
    <span class="clear-select2{% if multiple %} no-offset{% endif %}"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
    {{ parent() }}
{%- endblock choice_widget_collapsed -%}

{% block vich_file_widget %}
    {% filter spaceless %}
        {{ form_widget(form.file) }}
        {% if form.delete is defined %}
            {{ form_widget(form.delete) }}
            {{ form_errors(form.delete) }}
        {% endif %}

        {% if download_uri %}
            <a href="{{ download_uri }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> {{ 'current.file'|trans }}</a>
            <p class="help-block">({{ 'file.upload.info'|trans }})</p>
        {% endif %}
    {% endfilter %}
{% endblock %}

{% block vich_image_widget %}
    {% filter spaceless %}
        {{ form_widget(form.file) }}
        {% if form.delete is defined %}
            {{ form_widget(form.delete) }}
            {{ form_errors(form.delete) }}
        {% endif %}

        {#{% if image_uri %}#}
        {#<a href="{{ image_uri }}"><img src="{{ image_uri }}" alt="" /></a>#}
        {#{% endif %}#}
        {% if download_uri %}
            <a href="{{ download_uri }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> {{ 'current.file'|trans }}</a>
            <p class="help-block">({{ 'file.upload.info'|trans }})</p>
        {% endif %}
    {% endfilter %}
{% endblock %}
