<div class="entry">
    <article class="entry-inner">
        <div class="entry-image">
            <img src="{{ vich_uploader_asset(entry.image, 'file')|imagine_filter('entry_show') }}" alt="{{ entry.name }}">
        </div>
        <div class="entry-info">
            <h2 class="entry-title">
                {{ entry.name }}
            </h2>
            {{ entry.description|raw }}
            <dl class="meta">
                {% if entry.location.name is defined %}
                    <dt class="entry-location">{{ 'location'|trans }}:</dt>
                    <dd class="entry-location-value">{{ entry.location.name }}</dd>
                {% endif %}
                {% if entry.tour.name is defined %}
                    <dt class="entry-tour">{{ 'tour'|trans }}:</dt>
                    <dd class="entry-tour-value"><a href="{{ path('tour_show', {'slug': entry.tour.slug }) }}">{{ entry.tour.name }}</a></dd>
                {% endif %}
                {% if entry.author.name is defined %}
                    <dt class="entry-author">{{ 'author'|trans }}:</dt>
                    <dd class="entry-author-value">{{ entry.author.name }}</dd>
                {% endif %}
                {% if entry.timestamp %}
                    <dt class="entry-timestamp">{{ 'timestamp'|trans }}:</dt>
                    <dd class="entry-timestamp-value">{{ entry.timestamp|date("d.m.Y") }}</dd>
                {% endif %}
            </dl>
            <ul class="list-unstyled clearfix tags">
                {% for tag in entry.tags %}
                    <li><a href="{{ path('tag_show', {'slug': tag.slug}) }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
            <a class="btn" href="{{ vich_uploader_asset(entry.image, 'file') }}" target="_blank"><i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ 'fullscreen'|trans }}</a>
        </div>
    </article>
</div>
