{% extends 'base.html.twig' %}

{% set desc = entry.description|striptags %}
{% if desc == "" %}
    {% set desc = entry.title %}
{% endif %}

{% block socialTags %}
    <meta property="og:title" content="{{ entry.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) }}"/>
    <meta property="og:image" content="{{ vich_uploader_asset(entry.image, 'file') }}">
    <meta property="og:description" content="{{ desc }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ entry.title }}"/>
    <meta name="twitter:description" content="{{ desc }}"/>
    <meta name="twitter:image" content="{{ vich_uploader_asset(entry.image, 'file') }}"/>
    <meta itemprop="name" content="{{ entry.title }}"/>
    <meta itemprop="description" content="{{ desc }}"/>
    <meta itemprop="image" content="{{ vich_uploader_asset(entry.image, 'file') }}"/>
{% endblock %}

{% block metaDesc %}{{ desc }}{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
    <section id="entry" class="container">
        <article class="entry-inner row">
            <div class="entry-image col-lg-9">
                <img src="{{ vich_uploader_asset(entry.image, 'file')|imagine_filter('entry_show') }}" alt="{{ entry.title }}">
            </div>
            <div class="entry-info col-lg-3">
                <h1 class="entry-title">
                    {{ entry.title }}
                </h1>
                {{ entry.description|raw }}
                <dl class="meta">
                    {% if entry.location.name is defined %}
                        <dt class="entry-location">{{ 'location'|trans }}:</dt>
                        <dd class="entry-location-value">{{ entry.location.name }}</dd>
                    {% endif %}
                    {% if entry.location.name is defined %}
                        <dt class="entry-author">{{ 'author'|trans }}:</dt>
                        <dd class="entry-author-value">{{ entry.author.name }}</dd>
                    {% endif %}
                    {% if entry.timestamp %}
                        <dt class="entry-timestamp">{{ 'timestamp'|trans }}:</dt>
                        <dd class="entry-timestamp-value">{{ entry.timestamp|date("d.m.Y") }}</dd>
                    {% endif %}
                </dl>
                <ul class="list-unstyled clearfix tags">
                    {% for tag in entry.tags %}
                        <li><a href="{{ path('tag_show', {'slug': tag.slug}) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <a class="btn" href="{{ vich_uploader_asset(entry.image, 'file') }}" target="_blank"><i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ 'fullscreen'|trans }}</a>
            </div>
        </article>
    </section>
{% endblock %}
