{% extends 'base.html.twig' %}

{% set desc = entry.description|striptags %}
{% if desc == "" %}
    {% set desc = entry.title %}
{% endif %}

{% block meta_description %}{{ desc }}{% endblock %}

{% block meta_image %}{{ absolute_url(vich_uploader_asset(entry.image, 'file')) }}{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
    <section id="entry" class="container">
        <article class="entry-inner row">
            <div class="entry-image col-xs-12 col-lg-9">
                {% if next %}
                    <a class="next" href="{{ path('entry_show', {'slug': next.slug}) }}" title="{{ 'next'|trans }}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                {% else %}
                    <span class="next disabled" href="#" title="{{ 'next'|trans }}">
                        <i class="fa fa-angle-left"></i>
                    </span>
                {% endif %}

                <img src="{{ vich_uploader_asset(entry.image, 'file')|imagine_filter('entry_show') }}" alt="{{ entry.title }}">

                {% if prev %}
                    <a class="prev" href="{{ path('entry_show', {'slug': prev.slug}) }}" title="{{ 'prev'|trans }}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                {% else %}
                    <span class="prev disabled" href="#" title="{{ 'prev'|trans }}">
                        <i class="fa fa-angle-right"></i>
                    </span>
                {% endif %}

                <div id="spinner" class="spinner">
                    <svg>
                        <use xlink:href="#spinner-icon"/>
                    </svg>
                </div>
            </div>
            <div class="entry-info col-xs-12 col-lg-3">
                <h1 class="entry-title">
                    {{ entry.title }}
                </h1>
                {{ entry.description|raw }}
                <dl class="meta">
                    {% if entry.location.name is defined %}
                        <dt class="entry-location">{{ 'location'|trans }}:</dt>
                        <dd class="entry-location-value">{{ entry.location.name }}</dd>
                    {% endif %}
                    {% if entry.author.name is defined %}
                        <dt class="entry-author">{{ 'author'|trans }}:</dt>
                        <dd class="entry-author-value">{{ entry.author.name }}</dd>
                    {% endif %}
                    {% if entry.timestamp %}
                        <dt class="entry-timestamp">{{ 'timestamp'|trans }}:</dt>
                        <dd class="entry-timestamp-value">{{ entry.timestamp|date("d.m.Y") }}</dd>
                    {% endif %}
                </dl>
                <ul class="list-unstyled clearfix tags">
                    {% for tag in entry.tags %}
                        <li><a href="{{ path('tag_show', {'slug': tag.slug}) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <a class="btn" href="{{ vich_uploader_asset(entry.image, 'file') }}" target="_blank"><i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ 'fullscreen'|trans }}</a>
            </div>
        </article>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/img/layout/icons/spinner-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "ImageObject",
        "author": "{{ entry.author.name is defined ? entry.author.name }}",
        {% if entry.location.name is defined %}
        "contentLocation": "{{ entry.location.name }}",
        {% endif %}
        "contentUrl": "{{ vich_uploader_asset(entry.image, 'file') }}",
        "datePublished": "{{ entry.timestamp|date("Y-m-d") }}",
        "description": "{{ entry.description|striptags }}",
        "name": "{{ entry.title }}"
    }</script>

    {{ parent() }}

    <script type="application/javascript">
        jQuery(document).ready(function() {
            loadNextPrevEntry();
        });
    </script>
{% endblock %}
