{% extends 'base.html.twig' %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}

    <section id="entry" class="container">
        <article class="entryInner row">
            <div class="entryImage col-lg-9">
                <img src="{{ image_directory }}/{{ entry.image }}" alt="{{ entry.title }}">
            </div>
            <div class="entryInfo col-lg-3">
                <h1 class="entryTitle">
                    {{ entry.title }}
                </h1>
                {% if entry.description != "" %}
                    <p class="entryDescription">
                        {{ entry.description|raw }}
                    </p>
                {% endif %}
                <ul class="list-unstyled meta">
                    {% if entry.location.name is defined %}<li class="entryLocation"><strong>{{ 'location'|trans }}</strong>: {{ entry.location.name }}</li>{% endif %}
                    {% if entry.author.name is defined %}<li class="entryAuthor"><strong>{{ 'author'|trans }}</strong>: {{ entry.author.name }}</li>{% endif %}
                    <li class="entryTimestamp"><strong>{{ 'timestamp'|trans }}</strong>: {{ entry.timestamp|date("d.m.Y") }}</li>
                </ul>
                <ul class="list-unstyled clearfix tags">
                    {% for tag in entry.tags %}
                        <li><a href="{{ path('tag_filter', {'slug': tag.slug}) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <a class="btn" href="{{ image_directory }}/{{ entry.image }}" target="_blank"><i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ 'fullscreen'|trans }}</a>
            </div>
        </article>
    </section>

{% endblock %}
