{% extends 'base.html.twig' %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <div class="parallax">
        </div>
    </section>
{% endblock %}

{% block content %}
    <section id="introduction">
        <h1>{{ 'photography'|trans }}</h1>
        <article class="text-container">
            <h2 class="h4">{{ 'introduction.headline'|trans|raw }}</h2>
            <p>
                {{ 'introduction.longtext'|trans|raw }}
            </p>
        </article>
        <ul class="list-unstyled clearfix social">
            <li><a href="mailto:john-doe@example.com" class="fa fa-envelope-o" title="Mail"></a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/john-doe/" class="fa fa-facebook" title="Facebook"></a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/john-doe/" class="fa fa-instagram" title="Instagram"></a></li>
        </ul>
    </section>

    <section id="content" class="container">
        <div id="entries" data-justified="true">
            {{ render(controller('AppBundle:Default:paginateEntries', { 'page': 1 })) }}

            <div id="spinner" class="spinner" style="display: none">
                <svg>
                    <use xlink:href="#spinner-icon"/>
                </svg>
            </div>
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/img/layout/icons/spinner-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Blog",
        "name": "{{ block('title') }} | {{ 'photography'|trans }}",
        "url": "{{ url(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) }}",
        "description": "{{ block('meta_description') }}"
    }</script>

    {{ parent() }}

    <script type="application/javascript">
        var paginateUrl = "{{ path('paginate_entries') }}";

        jQuery(document).ready(function() {
            lazyLoad();
            justify();
            lightbox();
        });
    </script>
{% endblock %}
