{% extends 'base.html.twig' %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <div class="parallax">
        </div>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <div id="entries" data-justified="true">
            {{ render(controller('AppBundle:Default:paginateEntries', { 'page': 1 })) }}

            <div id="spinner" class="spinner" style="display: none">
                <svg>
                    <use xlink:href="#spinner-icon"/>
                </svg>
            </div>
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/img/layout/icons/spinner-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        var paginateUrl = "{{ path('paginate_entries') }}";

        jQuery(document).ready(function() {
            lazyLoad();
            justify();
            lightbox();
        });
    </script>
{% endblock %}
