{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block meta_description %}{{ post.description ? post.description|striptags|u.truncate(160)|trim : (post.name ~ ': ' ~ post.tags|join(', '))|u.truncate(160) }}{% endblock %}

{% block meta_image %}{{ absolute_url(vich_uploader_asset(post.image, 'file')) }}{% endblock %}

{% block title %}{{ post.name }}{% endblock %}

{% block content %}
    {% import 'templates/macro/macro.html.twig' as macro %}
    <section id="post" class="container post">
        <div class="post-centerer">
            <article class="post-inner row">
                <div class="post-image col-xs-12 col-lg-8 col-xl-9">
                    <div class="post-image-container">
                        {% if next %}
                            <a class="next" href="{{ path('post_show', {'slug': next.slug}) }}" title="{{ 'btn.next'|trans }}">
                                <span class="icon icon-lg icon-angle"><svg><use xlink:href="#angle-icon"/></svg></span>
                            </a>
                        {% endif %}

                        <img src="{{ vich_uploader_asset(post.image, 'file')|imagine_filter('post_show') }}" alt="{{ post.name }}">

                        {% if prev %}
                            <a class="prev" href="{{ path('post_show', {'slug': prev.slug}) }}" title="{{ 'btn.prev'|trans }}">
                                <span class="icon icon-lg icon-angle icon-rotate-180"><svg><use xlink:href="#angle-icon"/></svg></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="post-info col-xs-12 col-lg-4 col-xl-3">
                    <h1 class="post-title">
                        {{ post.name }}
                    </h1>
                    {{ post.description|raw }}
                    {{ macro.post_meta(post) }}
                    {{ macro.tags(post.tags) }}
                    <a class="btn btn-teritary" href="{{ vich_uploader_asset(post.image, 'file') }}" target="_blank">
                        <span class="icon icon-sm icon-download pe-2"><svg><use xlink:href="#download-icon"/></svg></span> {{ 'btn.download'|trans }}
                    </a>
                </div>
            </article>
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/images/layout/icons/angle-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/download-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.imageObject(post) }}
    </script>

    {{ parent() }}
{% endblock %}
