{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block meta_description %}{{ tag.description ? tag.description|striptags|u.truncate(160) : ('introduction.tag'|trans ~ ' ' ~ tag.name)|u.truncate(160) }}{% endblock %}

{% set img = tag.previewEntry ? vich_uploader_asset(tag.previewEntry.image, 'file') : asset('assets/img/layout/cover-tag.jpg') %}
{% block meta_image %}{{ absolute_url(img) }}{% endblock %}

{% block title %}{{ 'tag'|trans }} {{ tag.name }}{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ img|imagine_filter('entry_show') }}" alt="{{ tag.name }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container entries-container">
        <h1>{{ tag.name }}</h1>

        <article class="text-container text-center">
            <h2 class="h5">{{ 'introduction.tag'|trans }} <strong>{{ tag.name }}</strong></h2>

            {% if tag.description != "" %}
                {{ tag.description|raw }}
            {% endif %}

            {% if relatedTags|length > 1 %}
                <div class="similar-tags">{{ 'similar.tags'|trans }}:</div>
                <ul class="list-unstyled tags" style="display: inline-block">
                    {% for relatedTag in relatedTags %}
                        <li><a href="{{ path('tag_show', {'slug': relatedTag.slug}) }}">{{ relatedTag.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </article>

        <div id="entries" data-justified="true" data-paginate="{{ path('tag_pagiante_ajax', {'slug': tag.slug}) }}">
            {{ render(controller('App\\Controller\\Frontend\\TagController::ajaxPaginate', {'slug': tag.slug, 'page': 1 })) }}
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/img/layout/icons/download-icon.svg')|inline_svg() }}
{% endblock embed_svg %}
