{% extends 'admin.html.twig' %}

{% block title %}{{ 'entries'|trans }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">

            <div class="page-header">
                <div class="pull-left">
                    <h1>{{ 'entries'|trans }}</h1>
                </div>
                <div class="pull-right">
                    <ul class="actions list-unstyled pull-right">
                        <li><a class="btn btn-primary" href="{{ path('admin_entry_new') }}">{{ 'new.entry'|trans }}</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'title'|trans }}</th>
                    <th>{{ 'timestamp'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {{ entry.title }}
                        </td>
                        <td>
                            {{ entry.timestamp|date('d-m->') }}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('admin_entry_edit', {'id': entry.id}) }}" title="{{ 'edit'|trans }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
