{% import 'templates/macro/macro.html.twig' as macro %}
{% extends 'admin.html.twig' %}

{% block title %}{{ 'header.edit'|trans }} - {{ location.name }}{% endblock %}

{% block modals %}
    {{ parent() }}
    {{ macro.create_delete_modal('modal.delete.msg.location', location.name, path('admin_location_delete', {'id': location.id})) }}
{% endblock %}

{% block body %}

    <h1 class="h3 mb-4 text-gray-800">{{ location.name }}</h1>

    {{ form_start(form, {'action': path('admin_location_edit', {'id': location.id})}) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <div class="d-flex justify-content-between">
            <button class="btn btn-success" type="submit" name="submit">{{ 'btn.submit'|trans }}</button>
            <button class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#deleteModal">{{ 'btn.delete'|trans }}</button>
        </div>

    {{ form_end(form) }}

{% endblock %}
