<div class="entry">
    <article class="entryInner">
        <div class="entryImage">
            <img src="{{ image_directory }}/{{ entry.image }}" alt="{{ entry.title }}">
        </div>
        <div class="entryInfo">
            <h2 class="entryTitle">
                {{ entry.title }}
            </h2>
            <p class="entryDescription">
                {{ entry.description|raw }}
            </p>
            <ul class="list-unstyled">
                {% if entry.location.name is defined %}<li class="entryLocation"><strong>{{ 'location'|trans }}</strong>: {{ entry.location.name }}</li>{% endif %}
                {% if entry.author.name is defined %}<li class="entryAuthor"><strong>{{ 'author'|trans }}</strong>: {{ entry.author.name }}</li>{% endif %}
                <li class="entryTimestamp"><strong>{{ 'timestamp'|trans }}</strong>: {{ entry.timestamp|date("d.m.Y") }}</li>
            </ul>
            <a href="{{ image_directory }}/{{ entry.image }}" target="_blank"><i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ 'fullscreen'|trans }}</a>
        </div>
    </article>
</div>
