{% for entry in entries %}
    <a href="{{ image_directory }}/{{ entry.image }}" class="entry">
        <img src="{{ image_directory }}/thumb/{{ entry.image }}" alt="{{ entry.title }}">
        <div class="title">{{ entry.title }}</div>
    </a>
{% endfor %}
