{% import 'templates/macro/macro.html.twig' as macro %}
{% extends 'admin.html.twig' %}

{% block title %}{{ 'edit'|trans }} - {{ tour.name }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header clearfix">
            <div class="pull-left">
                <h1>{{ tour.name }}</h1>
            </div>
            <div class="pull-right">
                <ul class="actions list-unstyled pull-right">
                    <li><a class="btn btn-primary" href="{{ path('tour_show', {'slug': tour.slug}) }}" target="_blank" title="{{ 'live.view'|trans }}"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="flash-notice alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flash_message }}
            </div>
        {% endfor %}

        {{ form_start(form, {'action': path('admin_tour_edit', {'id': tour.id})}) }}

            {{ macro.create_delete_modal('delete.msg.tour', tour.name, path('admin_tour_delete', {'id': tour.id})) }}

            {{ form_errors(form) }}

            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" type="submit" name="submit">{{ 'submit'|trans }}</button>
                    <button class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#deleteModal">{{ 'delete'|trans }}</button>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
