<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <div class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" id="search" class="form-control" placeholder="{{ 'search'|trans }}...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ path('entry_new') }}"><i class="fa fa-plus"></i> {{ 'new.entry'|trans }}</a>
            </li>
            {# Maybe unnecessary, have to think about it
            <li>
                <a href="{{ path('entry_index') }}"><i class="fa fa-list"></i> All Entries</a>
            </li>
            <li>
                <a href="{{ path('tag_index') }}"><i class="fa fa-list"></i> All Tags</a>
            </li>
            #}
            <li class="subNav">
                <a href="#"><i class="fa fa-picture-o fa-fw"></i> {{ 'entries'|trans }}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {% for entry in entries %}
                        <li>
                            <a href="{{ path('entry_edit', {'id': entry.id}) }}">{{ entry.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="subNav">
                <a href="#"><i class="fa fa-users fa-fw"></i> {{ 'authors'|trans }}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {% for author in authors %}
                        <li>
                            <a href="{{ path('author_edit', {'id': author.id}) }}">{{ author.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="subNav">
                <a href="#"><i class="fa fa-globe fa-fw"></i> {{ 'locations'|trans }}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {% for location in locations %}
                        <li>
                            <a href="{{ path('admin_location_edit', {'id': location.id}) }}">{{ location.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="subNav">
                <a href="#"><i class="fa fa-hashtag fa-fw"></i> {{ 'tags'|trans }}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {% for tag in tags %}
                        <li>
                            <a href="{{ path('tag_edit', {'id': tag.id}) }}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
