<a class="popup-content " href="{{ path('tour_show', {'slug': tour.slug}) }}">
    <div class="image-container">
        {% if tour.tourCategory %}
            <div class="tour-category">{{ tour.tourCategory }}</div>
        {% endif %}

        {% if tour.previewEntry %}
            <img src="{{ vich_uploader_asset(tour.previewEntry.image, 'file')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.previewentry.name }}">
        {% else %}
            <img src="{{ asset('assets/images/layout/cover-tour.jpg')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.name }}">
        {% endif %}
    </div>

    <div class="p-2">
        <h6>{{ tour.name }}</h6>

        <dl class="meta">
            {% if tour.distance %}
                <div class="meta-row">
                    <dt class="tour-distance">
                        <span class="icon icon-sm icon-length" title="{{ 'label.distance'|trans }}"><svg><use xlink:href="#length-icon"/></svg></span>
                    </dt>
                    <dd class="tour-distance-value">{{ tour.distance|number_format(1, ',', '.') }} {{ 'unit.distance'|trans }}</dd>
                </div>
            {% endif %}
            {% if tour.cumulativeElevationGain %}
                <div class="meta-row">
                    <dt class="tour-cumulative-elevation-gain">
                        <span class="icon icon-sm icon-elevation icon-rotate-45" title="{{ 'label.cumulativeElevationGain'|trans }}"><svg><use xlink:href="#elevation-icon"/></svg></span>
                    </dt>
                    <dd class="tour-cumulative-elevation-gain-value">{{ tour.cumulativeElevationGain|number_format(0, ',', '.') }} {{ 'unit.cumulativeElevationGain'|trans }}</dd>
                </div>
            {% endif %}
            {% if tour.cumulativeElevationLoss %}
                <div class="meta-row">
                    <dt class="tour-cumulative-elevation-loss">
                        <span class="icon icon-sm icon-elevation icon-rotate-135" title="{{ 'label.cumulativeElevationLoss'|trans }}"><svg><use xlink:href="#elevation-icon"/></svg></span>
                    </dt>
                    <dd class="tour-cumulative-elevation-loss-value">{{ tour.cumulativeElevationLoss|number_format(0, ',', '.') }} {{ 'unit.cumulativeElevationLoss'|trans }}</dd>
                </div>
            {% endif %}
        </dl>
    </div>
</a>
