{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block meta_description %}{{ 'tours.headline'|trans }} - {{ 'pagination.page'|trans }} {{ page }} - ({{ 'introduction.tours.headline'|trans|striptags }}){% endblock %}

{% block meta_image %}{{ absolute_url(asset('assets/images/layout/cover-tour.jpg')) }}{% endblock %}

{% block title %}{{ 'header.tours'|trans }} - {{ 'pagination.page'|trans }} {{ page }}{% endblock %}

{% block body_id %}tours{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ asset('assets/images/layout/cover-tour.jpg')|imagine_filter('entry_show') }}" alt="{{ 'tours.headline'|trans }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1>{{ 'tours.headline'|trans }}</h1>
        <article class="text-container text-center">
            <h2 class="h5">{{ 'introduction.tours.headline'|trans|raw }}</h2>
            <p>
                {{ 'introduction.tours.longtext'|trans|raw }}
            </p>
            {% if categories|length %}
                <div class="filter-tags">{{ 'introduction.tour_categories'|trans }}:</div>
                <ul class="tags" data-filter="#tours-container">
                    {% for category in categories %}
                        <li>
                            {% if activeCategory and category.id == activeCategory.id %}
                                <a href="{{ path('tour_index', {'page': 1}) }}" class="active">
                                    {{ category.name }} <span class="icon icon-sm icon-close"><svg><use xlink:href="#close-icon"></use></svg></span>
                                </a>
                            {% else %}
                                <a href="{{ path('tour_index', {'page': 1, 'category': category.id}) }}">
                                    {{ category.name }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </article>

        <div id="tours-container">
            {% set query = activeCategory ? {'q': {'category': activeCategory.id}} : [] %}

            {% if pages > 1 %}
                <ul class="pagination justify-content-center" data-paginate="#tours-container">
                    {{ paginate(page, pages, 'tour_index', query) }}
                </ul>
            {% endif %}

            <ul class="tours row list-unstyled">
                {% for tour in tours %}
                    <li class="col-lg-6">
                        <a href="{{ path('tour_show', {'slug': tour.slug}|merge(query.q|default([]))) }}">
                            <div class="tour-preview-img">
                                {% if tour.previewEntry %}
                                    <img src="{{ vich_uploader_asset(tour.previewEntry.image, 'file')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.previewentry.name }}">
                                {% else %}
                                    <img src="{{ asset('assets/images/layout/cover-tour.jpg')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.name }}">
                                {% endif %}
                            </div>
                            <div class="tour-info-container">
                                <div class="tour-info clearfix">
                                    <h4 class="h1">{{ tour.name }}</h4>
                                    <p>
                                        {% if tour.description %}
                                            {{ tour.description|striptags|u.truncate(220, '...') }}
                                        {% endif %}
                                    </p>
                                    <dl class="meta">
                                        {% if tour.distance %}
                                            <dt class="tour-distance">
                                                <span class="icon icon-sm icon-length" title="{{ 'label.distance'|trans }}"><svg><use xlink:href="#length-icon"/></svg></span>
                                            </dt>
                                            <dd class="tour-distance-value">{{ tour.distance|number_format(1, ',', '.') }} {{ 'unit.distance'|trans }}</dd>
                                        {% endif %}
                                        {% if tour.maxAltitude %}
                                            <dt class="tour-maxAltitude">
                                                <span class="icon icon-sm icon-angle icon-rotate-90" title="{{ 'label.maxAltitude'|trans }}"><svg><use xlink:href="#angle-icon"/></svg></span>
                                            </dt>
                                            <dd class="tour-maxAltitude-value">{{ tour.maxAltitude|number_format(0, ',', '.') }} {{ 'unit.altitude'|trans }}</dd>
                                        {% endif %}
                                        {% if tour.minAltitude %}
                                            <dt class="tour-minAltitude">
                                                <span class="icon icon-sm icon-angle icon-rotate-270" title="{{ 'label.minAltitude'|trans }}"><svg><use xlink:href="#angle-icon"/></svg></span>
                                            </dt>
                                            <dd class="tour-minAltitude-value">{{ tour.minAltitude|number_format(0, ',', '.') }} {{ 'unit.altitude'|trans }}</dd>
                                        {% endif %}
                                    </dl>
                                    <button class="btn btn-teritary btn-inverse">
                                        {{ 'btn.show_tour'|trans }} <span class="icon icon-sm icon-angle icon-rotate-180 pl-2"><svg><use xlink:href="#angle-icon"/></svg></span>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% if pages > 1 %}
                <ul class="pagination justify-content-center" data-paginate="#tours-container">
                    {{ paginate(page, pages, 'tour_index', query) }}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/images/layout/icons/angle-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/length-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/close-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.collectionPage(tours) }}
    </script>

    {{ parent() }}
{% endblock %}
