{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block meta_description %}{{ 'tours.headline'|trans }} - {{ 'pagination.page'|trans }} {{ page }} - ({{ 'introduction.tours.headline'|trans|striptags }}){% endblock %}

{% block meta_image %}{{ absolute_url(asset('assets/images/layout/cover-tour.jpg')) }}{% endblock %}

{% block title %}{{ 'header.tours'|trans }} - {{ 'pagination.page'|trans }} {{ page }}{% endblock %}

{% block body_id %}tours{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ asset('assets/images/layout/cover-tour.jpg')|imagine_filter('entry_show') }}" alt="{{ 'tours.headline'|trans }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1>{{ 'tours.headline'|trans }}</h1>
        <article class="text-container text-center">
            <h2 class="h5">{{ 'introduction.tours.headline'|trans|raw }}</h2>
            <p>
                {{ 'introduction.tours.longtext'|trans|raw }}
            </p>
        </article>

        {% set query = activeCategory ? {'q': {'category': activeCategory.id}} : [] %}
        <div id="tours-container">
            <div class="tours-options mb-3">
                {% if categories|length %}
                    <div class="tours-option-filter">
                        <div class="font-weight-bold py-2">{{ 'introduction.tour_categories'|trans }}:</div>
                        <ul class="tags" data-filter="#tours-container">
                            {% for category in categories %}
                                <li>
                                    {% if activeCategory and category.id == activeCategory.id %}
                                        <a href="{{ path('tour_index', {'page': 1}) }}" class="active">
                                            {{ category.name }} <span class="icon icon-sm icon-close"><svg><use xlink:href="#close-icon"></use></svg></span>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('tour_index', {'page': 1, 'category': category.id}) }}">
                                            {{ category.name }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <ul class="tours-option-view list-unstyled" data-filter="#tours-container">
                    <li>
                        <a href="{{ path('tour_index', activeCategory ? {'page': 1, 'category': activeCategory.id} : {'page': 1}) }}" class="btn btn-teritary{% if request.attributes.get('_route') != 'tour_index' %} btn-inverse{% endif %}">
                            <span class="d-none d-md-block pr-2">{{ 'tour.list'|trans }}</span> <span class="icon icon-sm icon-list"><svg><use xlink:href="#list-icon"></use></svg></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('tour_map', activeCategory ? {'category': activeCategory.id} : {}) }}" class="btn btn-teritary{% if request.attributes.get('_route') != 'tour_map' %} btn-inverse{% endif %}">
                            <span class="d-none d-md-block pr-2">{{ 'tour.maps'|trans }}</span> <span class="icon icon-sm icon-map"><svg><use xlink:href="#map-icon"></use></svg></span>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="tours row list-unstyled">
                {% for tour in tours %}
                    <li class="col-lg-6">
                        <a href="{{ path('tour_show', {'slug': tour.slug}|merge(query.q|default([]))) }}">
                            <div class="tour-preview-img">
                                {% if tour.previewEntry %}
                                    <img src="{{ vich_uploader_asset(tour.previewEntry.image, 'file')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.previewentry.name }}">
                                {% else %}
                                    <img src="{{ asset('assets/images/layout/cover-tour.jpg')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.name }}">
                                {% endif %}
                            </div>
                            <div class="tour-info-container">
                                <div class="tour-info">
                                    <h4 class="h1">{{ tour.name }}</h4>
                                    <p>
                                        {% if tour.description %}
                                            {{ tour.description|striptags|u.truncate(220, '...') }}
                                        {% endif %}
                                    </p>
                                    <dl class="meta">
                                        {% if tour.distance %}
                                            <dt class="tour-distance">
                                                <span class="icon icon-sm icon-length" title="{{ 'label.distance'|trans }}"><svg><use xlink:href="#length-icon"/></svg></span>
                                            </dt>
                                            <dd class="tour-distance-value">{{ tour.distance|number_format(1, ',', '.') }} {{ 'unit.distance'|trans }}</dd>
                                        {% endif %}
                                        {% if tour.cumulativeElevationGain %}
                                            <dt class="tour-cumulative-elevation-gain">
                                                <span class="icon icon-sm icon-elevation icon-rotate-45" title="{{ 'label.cumulativeElevationGain'|trans }}"><svg><use xlink:href="#elevation-icon"/></svg></span>
                                            </dt>
                                            <dd class="tour-cumulative-elevation-gain-value">{{ tour.cumulativeElevationGain|number_format(0, ',', '.') }} {{ 'unit.altitude'|trans }}</dd>
                                        {% endif %}
                                        {% if tour.cumulativeElevationLoss %}
                                            <dt class="tour-cumulative-elevation-loss">
                                                <span class="icon icon-sm icon-elevation icon-rotate-135" title="{{ 'label.cumulativeElevationLoss'|trans }}"><svg><use xlink:href="#elevation-icon"/></svg></span>
                                            </dt>
                                            <dd class="tour-cumulative-elevation-loss-value">{{ tour.cumulativeElevationLoss|number_format(0, ',', '.') }} {{ 'unit.altitude'|trans }}</dd>
                                        {% endif %}
                                    </dl>
                                    <button class="btn btn-teritary btn-inverse">
                                        {{ 'btn.show_tour'|trans }} <span class="icon icon-sm icon-angle icon-rotate-180 pl-2"><svg><use xlink:href="#angle-icon"/></svg></span>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% if pages > 1 %}
                <ul class="pagination justify-content-center" data-paginate="#tours-container">
                    {{ paginate(page, pages, 'tour_index', query) }}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/images/layout/icons/elevation-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/map-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/list-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/length-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/close-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.collectionPage(tours) }}
    </script>

    {{ parent() }}
{% endblock %}
