{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block meta_description %}{{ 'tours.headline'|trans }} - {{ 'tour.maps'|trans }} - ({{ 'introduction.tours.headline'|trans|striptags }}){% endblock %}

{% block meta_image %}{{ absolute_url(asset('assets/images/layout/cover-tour.jpg')) }}{% endblock %}

{% block title %}{{ 'header.tours'|trans }} - {{ 'tour.maps'|trans }}{% endblock %}

{% block body_id %}tours{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ asset('assets/images/layout/cover-tour.jpg')|imagine_filter('entry_show') }}" alt="{{ 'tours.headline'|trans }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1>{{ 'tours.headline'|trans }} ({{ 'tour.maps'|trans }})</h1>
        <article class="text-container text-center">
            <h2 class="h5">{{ 'introduction.tours.headline'|trans|raw }}</h2>
            <p>
                {{ 'introduction.tours.longtext'|trans|raw }}
            </p>
        </article>

        <div id="tours-container">
            <div class="tours-options mb-3">
                {% if categories|length %}
                    <div class="tours-option-filter">
                        <div class="font-weight-bold py-2">{{ 'introduction.tour_categories'|trans }}:</div>
                        <ul class="tags" data-filter="#tours-container">
                            {% for category in categories %}
                                <li>
                                    {% if activeCategory and category.id == activeCategory.id %}
                                        <a href="{{ path('tour_map') }}" class="active">
                                            {{ category.name }} <span class="icon icon-sm icon-close"><svg><use xlink:href="#close-icon"></use></svg></span>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('tour_map', {'category': category.id}) }}">
                                            {{ category.name }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <ul class="tours-option-view list-unstyled" data-filter="#tours-container">
                    <li>
                        <a href="{{ path('tour_index', activeCategory ? {'page': 1, 'category': activeCategory.id} : {'page': 1}) }}" class="btn btn-teritary{% if request.attributes.get('_route') != 'tour_index' %} btn-inverse{% endif %}">
                            <span class="d-none d-md-block pr-2">{{ 'tour.list'|trans }}</span> <span class="icon icon-sm icon-list"><svg><use xlink:href="#list-icon"></use></svg></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('tour_map', activeCategory ? {'category': activeCategory.id} : {}) }}" class="btn btn-teritary{% if request.attributes.get('_route') != 'tour_map' %} btn-inverse{% endif %}">
                            <span class="d-none d-md-block pr-2">{{ 'tour.maps'|trans }}</span> <span class="icon icon-sm icon-map"><svg><use xlink:href="#map-icon"></use></svg></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="map" class="map" data-tour-map data-gpx="{{ mapData|json_encode }}" data-popup-url="{{ path('tour_marker_popup_ajax', {'tour': '__TOUR_ID__'}) }}"></div>
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/images/layout/icons/angle-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/length-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/map-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/list-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/compress-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/expand-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/close-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/marker-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.collectionPage(tours) }}
    </script>

    {{ parent() }}
{% endblock %}
