{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% import 'templates/macro/macro.html.twig' as macro %}
{% extends 'base.html.twig' %}

{% block meta_description %}
    {% if tour.description %}
        {{ tour.description|striptags|u.truncate(160)|trim }}
    {% endif %}
{% endblock %}

{% set img = tour.previewEntry ? vich_uploader_asset(tour.previewEntry.image, 'file') : asset('assets/images/layout/cover-tour.jpg') %}
{% block meta_image %}{{ absolute_url(img) }}{% endblock %}

{% block title %}{{ 'header.tour'|trans }} - {{ tour.name }}{% endblock %}

{% block cover %}
    <section id="cover">
        {% if not tour.entries.empty and tour.entries.count > 1 %}
            <div id="entry-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for entry in tour.entries %}
                        <li data-target="#entry-carousel" data-slide-to="{{ loop.index0 }}"
                            style="background-image: url({{ vich_uploader_asset(entry.image, 'file')|imagine_filter('entry_thumbnail') }})"
                            {% if loop.first %}class="active"{% endif %}>
                        </li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for entry in tour.entries %}
                        <figure class="parallax-container carousel-item{% if loop.first %} active{% endif %}">
                            <img class="parallax" src="{{ vich_uploader_asset(entry.image, 'file')|imagine_filter('entry_show') }}" alt="{{ entry.name }}"/>
                            <figcaption class="parallax-caption d-none d-md-block">
                                <h4>{{ entry.name }}</h4>
                                <p class="mb-0"><i>{{ entry.timestamp|date('d.m.Y') }} @ {{ entry.location }}</i></p>
                            </figcaption>
                        </figure>
                    {% endfor %}
                </div>
                <div class="carousel-controls">
                    <a class="btn btn-primary mr-2" href="#entry-carousel" role="button" data-slide="prev" title="{{ 'btn.prev'|trans }}">
                        <span class="icon icon-angle"><svg><use xlink:href="#angle-icon"/></svg></span>
                    </a>
                    <a class="btn btn-primary" href="#entry-carousel" role="button" data-slide="next" title="{{ 'btn.next'|trans }}">
                        <span class="icon icon-angle icon-rotate-180"><svg><use xlink:href="#angle-icon"/></svg></span>
                    </a>
                </div>
            </div>
        {% else %}
            {% set entry = tour.previewEntry %}
            <figure class="parallax-container mb-0">
                <img class="parallax" src="{{ img|imagine_filter('entry_show') }}" alt="{{ entry.name|default(tour.name) }}"/>
                {% if entry %}
                    <figcaption class="parallax-caption d-none d-md-block">
                        <h4>{{ entry.name }}</h4>
                        <p class="mb-0"><i>{{ entry.timestamp|date('d.m.Y') }} @ {{ entry.location }}</i></p>
                    </figcaption>
                {% endif %}
            </figure>
        {% endif %}
    </section>
{% endblock %}

{% block content %}
    <section id="content">
        <article class="tour">
            <div class="container text-container text-center">
                <h1>{{ tour.name }}</h1>
                {% if tour.tourCategory and tour.locations|length %}
                    {% set locations = tour.locations.toArray|natural_language_join %}

                    <h2 class="h5">{{ 'tour.sub_headline'|trans({'%category%': tour.tourCategory, '%locations%': locations}) }}</h2>
                {% endif %}
            </div>
            <div class="tour-info">
                <div class="container tour-desc no-spacer">
                    {% if tour.description %}
                        {{ tour.description|raw }}
                    {% endif %}
                </div>

                <div class="container tour-data px-0">
                    <h3>{{ 'tour.data'|trans }}</h3>
                    <dl class="row meta-table">
                        {% if tour.distance %}
                            <dt class="col-6 tour-distance">
                                {{ 'label.distance'|trans }} <span class="icon icon-sm icon-length pl-1"><svg><use xlink:href="#length-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-distance-value">
                                {{ tour.distance|number_format(1, ',', '.') }} {{ 'unit.distance'|trans }}
                            </dd>
                        {% endif %}
                        {% if tour.duration %}
                            <dt class="col-6 tour-duration">
                                {{ 'label.duration'|trans }} <span class="icon icon-sm icon-time pl-1"><svg><use xlink:href="#time-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-duration-value">
                                {{ tour.duration|format_duration }} {{ 'unit.duration'|trans }}
                                {% if tour.formulaType %}
                                    {% set formula = enum('App\\Config\\TourDurationFormula::'~tour.formulaType) %}
                                    {% set formula = formula.constants %}

                                    <button type="button" class="btn btn-sm p-0 ml-1 icon icon-sm icon-teritary icon-info"
                                            data-toggle="tooltip" data-html="true" style="margin-top: -5px;"
                                          title="{{ ('tooltip.formula.'~tour.formulaType)|trans({
                                              '%UP_METERS_PER_HOUR%': formula.UP_METERS_PER_HOUR|default(''),
                                              '%DOWN_METERS_PER_HOUR%': formula.DOWN_METERS_PER_HOUR|default(''),
                                              '%HORIZONTAL_METERS_PER_HOUR%': formula.HORIZONTAL_METERS_PER_HOUR|default(''),
                                          })|raw }}">
                                        <svg><use xlink:href="#info-icon"/></svg>
                                    </button>
                                {% endif %}
                            </dd>
                        {% endif %}
                        {% if tour.maxAltitude %}
                            <dt class="col-6 tour-max-altitude">
                                {{ 'label.maxAltitude'|trans }} <span class="icon icon-sm icon-angle icon-rotate-90 pl-1"><svg><use xlink:href="#angle-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-max-altitude-value">
                                {{ tour.maxAltitude|number_format(0, ',', '.') }} {{ 'unit.altitude'|trans }}
                            </dd>
                        {% endif %}
                        {% if tour.minAltitude %}
                            <dt class="col-6 tour-min-altitude">
                                {{ 'label.minAltitude'|trans }} <span class="icon icon-sm icon-angle icon-rotate-270 pl-1"><svg><use xlink:href="#angle-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-min-altitude-value">
                                {{ tour.minAltitude|number_format(0, ',', '.') }} {{ 'unit.altitude'|trans }}
                            </dd>
                        {% endif %}
                        {% if tour.cumulativeElevationGain %}
                            <dt class="col-6 tour-cumulative-elevation-gain">
                                {{ 'label.cumulativeElevationGain'|trans }} <span class="icon icon-sm icon-elevation icon-rotate-45 px-1"><svg><use xlink:href="#elevation-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-cumulative-elevation-gain-value">
                                {{ tour.cumulativeElevationGain|number_format(0, ',', '.') }} {{ 'unit.cumulativeElevationGain'|trans }}
                            </dd>
                        {% endif %}
                        {% if tour.cumulativeElevationLoss %}
                            <dt class="col-6 tour-cumulative-elevation-loss">
                                {{ 'label.cumulativeElevationLoss'|trans }} <span class="icon icon-sm icon-elevation icon-rotate-135 px-1"><svg><use xlink:href="#elevation-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-cumulative-elevation-loss-value">
                                {{ tour.cumulativeElevationLoss|number_format(0, ',', '.') }} {{ 'unit.cumulativeElevationLoss'|trans }}
                            </dd>
                        {% endif %}
                        {% if tour.levelOfDifficulty %}
                            <dt class="col-6 tour-level-of-difficulty">
                                {{ 'label.levelOfDifficulty'|trans }} <span class="icon icon-sm icon-level-of-difficulty pl-1"><svg><use xlink:href="#level-of-difficulty-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-level-of-difficulty-value">
                                {{ tour.valueLevelOfDifficulty }}

                                <button type="button" class="btn btn-sm p-0 ml-1 icon icon-sm icon-teritary icon-info"
                                        data-toggle="tooltip" data-html="true" style="margin-top: -5px;"
                                        title="{{ ('tooltip.levelOfDifficulty')|trans()|raw }}">
                                    <svg><use xlink:href="#info-icon"/></svg>
                                </button>
                            </dd>
                        {% endif %}
                    </dl>
                </div>

                <div>
                    <ul class="justify-content-center nav nav-tabs mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tour-map" role="tab" aria-selected="true"><h3 class="mb-0">{{ 'tour.map'|trans }}</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tour-chart" role="tab" aria-selected="false"><h3 class="mb-0">{{ 'tour.chart'|trans }}</h3></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active text-center tour-map" id="tour-map" role="tabpanel">

                            {% set gdprContent %}
                                <div id="map" class="map" data-tour-map data-gpx="{{ mapData|json_encode }}" data-popup-url="{{ path('tour_marker_popup_ajax', {'tour': '__TOUR_ID__'}) }}" data-fullscreen="true"></div>
                            {% endset %}

                            {{ macro.gdpr_map(gdprContent) }}

                            <a class="btn btn-teritary mt-4" href="{{ path('core_download_file', {'file': tour.file.fileName}) }}" target="_blank">
                                <span class="icon icon-sm icon-download pr-2"><svg><use xlink:href="#download-icon"/></svg></span> {{ 'btn.tour_download'|trans }}
                            </a>
                        </div>
                        <div class="tab-pane fade" id="tour-chart" role="tabpanel">
                            <div id="tour-elevation-chart" class="chart px-2 px-md-4" data-elevation="{{ elevationData|json_encode }}"></div>
                        </div>
                    </div>
                </div>

                {% if tour.directions %}
                    <div class="container tour-desc">
                        <h3>{{ 'label.directions'|trans }}</h3>
                        {% if tour.directions|length > 500 %}
                            <div id="tour-directions" class="text-fadeout">
                                {{ tour.directions|raw }}
                            </div>
                            <button class="link btn border-0"
                                data-show-more="#tour-directions"
                                data-show-more-collapsed="{{ 'btn.show_all'|trans }}"
                                data-show-more-open="{{ 'btn.hide_some'|trans }}">{{ 'btn.show_all'|trans }}</button>
                        {% else %}
                            {{ tour.directions|raw }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if tour.equipmentAndSafety %}
                    <div class="container tour-desc">
                        <h3>{{ 'label.equipmentAndSafety'|trans }}</h3>
                        {% if tour.equipmentAndSafety|length > 500 %}
                            <div id="tour-equipmentAndSafety" class="text-fadeout">
                                {{ tour.equipmentAndSafety|raw }}
                            </div>
                            <button class="link btn border-0"
                                data-show-more="#tour-equipmentAndSafety"
                                data-show-more-collapsed="{{ 'btn.show_all'|trans }}"
                                data-show-more-open="{{ 'btn.hide_some'|trans }}">{{ 'btn.show_all'|trans }}</button>
                        {% else %}
                            {{ tour.equipmentAndSafety|raw }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </article>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/images/layout/icons/angle-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/close-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/compress-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/download-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/elevation-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/expand-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/length-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/level-of-difficulty-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/marker-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/time-icon.svg')|inline_svg() }}
    {{ asset('assets/images/layout/icons/info-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.blogPosting(tour, tour.previewEntry) }}
    </script>
    <script type="application/ld+json">
        {{ jsonLd.sportsActivityLocation(tour) }}
    </script>

    {{ parent() }}
{% endblock %}
