{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block meta_description %}
    {% if tour.description %}
        {{ tour.description|striptags|u.truncate(160) }}
    {% endif %}
{% endblock %}

{% set img = tour.previewEntry ? vich_uploader_asset(tour.previewEntry.image, 'file') : asset('assets/img/layout/cover-tour.jpg') %}
{% block meta_image %}{{ absolute_url(img) }}{% endblock %}

{% block title %}{{ 'header.tour'|trans }} - {{ tour.name }}{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ img|imagine_filter('entry_show') }}" alt="{{ tour.name }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <article class="tour">
            <h1>{{ tour.name }}</h1>
            <div class="text-container text-center tour-desc">
                {% if tour.description %}
                    {{ tour.description|raw }}
                {% endif %}
            </div>
            <div class="tour-info">
                <div class="tour-data">
                    <h3>{{ 'tour.data'|trans }}</h3>
                    <dl class="row meta-table">
                        {% if tour.distance %}
                            <dt class="col-6 tour-distance">
                                {{ 'label.distance'|trans }} <span class="icon icon-sm icon-length pl-1"><svg><use xlink:href="#length-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-distance-value">
                                {{ tour.distance|number_format(1, ',', '.') }} {{ 'unit.distance'|trans }}
                            </dd>
                        {% endif %}
                        {% if tour.duration %}
                            <dt class="col-6 tour-duration">
                                {{ 'label.duration'|trans }} <span class="icon icon-sm icon-time pl-1"><svg><use xlink:href="#time-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-duration-value">
                                {{ tour.duration|format_duration }} {{ 'unit.duration'|trans }}
                            </dd>
                        {% endif %}
                        {% if tour.maxAltitude %}
                            <dt class="col-6 tour-maxAltitude">
                                {{ 'label.maxAltitude'|trans }} <span class="icon icon-sm icon-angle icon-rotate-90 pl-1"><svg><use xlink:href="#angle-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-maxAltitude-value">
                                {{ tour.maxAltitude|number_format(0, ',', '.') }} {{ 'unit.altitude'|trans }}
                            </dd>
                        {% endif %}
                        {% if tour.minAltitude %}
                            <dt class="col-6 tour-minAltitude">
                                {{ 'label.minAltitude'|trans }} <span class="icon icon-sm icon-angle icon-rotate-270 pl-1"><svg><use xlink:href="#angle-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-minAltitude-value">
                                {{ tour.minAltitude|number_format(0, ',', '.') }} {{ 'unit.altitude'|trans }}
                            </dd>
                        {% endif %}
                        {% if tour.cumulativeElevationGain %}
                            <dt class="col-6 tour-cumulativeElevationGain">
                                {{ 'label.cumulativeElevationGain'|trans }} <span class="icon icon-sm icon-elevation-gain pl-1"><svg><use xlink:href="#elevation-gain-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-cumulativeElevationGain-value">
                                {{ tour.cumulativeElevationGain|number_format(0, ',', '.') }} {{ 'unit.cumulativeElevationGain'|trans }}
                            </dd>
                        {% endif %}
                        {% if locations %}
                            <dt class="col-6 tour-locations">
                                {{ 'tour.locations'|trans }} <span class="icon icon-sm icon-marker pl-1"><svg><use xlink:href="#marker-icon"/></svg></span>
                            </dt>
                            <dd class="col-6 tour-locations-value">{{ locations|join(', ') }}</dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="text-center tour-map">
                    <h3>{{ 'tour.map'|trans }}</h3>
                    {% set firstPoint = tour.segments[0].points|first %}
                    {% set lastPoint = tour.segments[0].points|last %}
                    <div id="map" data-gpx="{{ vich_uploader_asset(tour.file, 'file') }}" data-coordinates="[{{ firstPoint.latitude }}, {{ firstPoint.longitude }}]"></div>
                    <a class="btn btn-teritary mt-4" href="{{ path('core_download_file', {'file': tour.file.fileName}) }}" target="_blank"><span class="icon icon-sm icon-download pr-2"><svg><use xlink:href="#download-icon"/></svg></span> {{ 'btn.tour_download'|trans }}</a>
                </div>
                {% if not tour.entries.empty %}
                    <div class="tour-pictures">
                        <h3>{{ 'tour.pictures'|trans }}</h3>
                        <div class="text-container entries" data-lightbox>
                            {% include 'frontend/entry/ajax-list.html.twig' with {'entries': tour.entries, 'calcbase': 150}  %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </article>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/img/layout/icons/angle-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/download-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/length-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/time-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/elevation-gain-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/marker-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/close-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.blogPosting(tour, tour.previewEntry) }}
    </script>
    <script type="application/ld+json">
        {{ jsonLd.sportsActivityLocation(tour) }}
    </script>

    {{ parent() }}
{% endblock %}
