{%- macro create_delete_modal(body, entity, form) -%}
    {% apply spaceless %}
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">{{ 'header.delete'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ body|trans }} <strong>{{ entity }}</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.close'|trans }}</button>

                        {{ form_start(form) }}
                            <button type="submit" class="btn btn-danger">{{ 'btn.delete'|trans }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endapply %}
{%- endmacro -%}

{%- macro entry_meta(entry) -%}
    <dl class="meta">
        {% if entry.location.name is defined %}
            <dt class="entry-location">{{ 'label.location'|trans }}:</dt>
            <dd class="entry-location-value">{{ entry.location.name }}</dd>
        {% endif %}
        {% if entry.tour.name is defined %}
            <dt class="entry-tour">{{ 'label.tour'|trans }}:</dt>
            <dd class="entry-tour-value"><a href="{{ path('tour_show', {'slug': entry.tour.slug }) }}">{{ entry.tour.name }}</a></dd>
        {% endif %}
        {% if entry.author.fullname is defined %}
            <dt class="entry-author">{{ 'label.author'|trans }}:</dt>
            <dd class="entry-author-value">{{ entry.author.fullname }}</dd>
        {% endif %}
        {% if entry.timestamp %}
            <dt class="entry-timestamp">{{ 'label.timestamp'|trans }}:</dt>
            <dd class="entry-timestamp-value">{{ entry.timestamp|date("d.m.Y") }}</dd>
        {% endif %}
    </dl>
{%- endmacro -%}

{%- macro tags(tags) -%}
    <ul class="tags">
        {% for tag in tags %}
            <li><a href="{{ path('tag_show', {'slug': tag.slug}) }}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{%- endmacro -%}
