{% import 'templates/macro/macro.html.twig' as macro %}
{% extends 'admin.html.twig' %}

{% block title %}{{ 'edit'|trans }} - {{ author.name }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">{{ author.name }}</h1>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="flash-notice alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flash_message }}
            </div>
        {% endfor %}

        {{ form_start(form, {'action': path('admin_author_edit', {'id': author.id})}) }}

            {{ macro.create_delete_modal('delete.msg.author', author.name, path('admin_author_delete', {'id': author.id})) }}

            {{ form_errors(form) }}

            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" type="submit" name="submit">{{ 'submit'|trans }}</button>
                    <button class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#deleteModal">{{ 'delete'|trans }}</button>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
