{% import 'templates/macro/macro.html.twig' as macro %}
{% extends 'admin.html.twig' %}

{% block title %}{{ 'edit'|trans }} - {{ author.name }}{% endblock %}

{% block modals %}
    {{ parent() }}
    {{ macro.create_delete_modal('delete.msg.author', author.name, path('admin_author_delete', {'id': author.id})) }}
{% endblock %}

{% block body %}

    <h1 class="h3 mb-4 text-gray-800">{{ author.name }}</h1>

    {{ form_start(form, {'action': path('admin_author_edit', {'id': author.id})}) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <div class="d-flex justify-content-between">
            <button class="btn btn-success" type="submit" name="submit">{{ 'submit'|trans }}</button>
            <button class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#deleteModal">{{ 'delete'|trans }}</button>
        </div>

    {{ form_end(form) }}

{% endblock %}
