{% extends 'admin.html.twig' %}

{% block title %}{{ 'edit'|trans }} - {{ author.name }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">{{ author.name }}</h1>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="flash-notice alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flash_message }}
            </div>
        {% endfor %}

        <form id="editAuthor" class="form-horizontal" action="{{ path('author_edit', {'id': author.id}) }}" method="post">
            <input type="hidden" name="edit[id]" value="{{ author.id }}"/>

            <div id="deleteModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ 'delete'|trans }}?</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'delete.msg.author'|trans }} <strong>{{ author.name }}</strong>?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('author_delete', {'id': author.id}) }}" class="btn btn-danger">{{ 'delete'|trans }}</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">{{ 'name'|trans }}*</label>
                <div class="col-sm-10">
                    <input id="name" class="form-control" type="text" name="edit[name]" value="{{ author.name }}" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" type="submit" name="submit">{{ 'submit'|trans }}</button>
                    <button class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#deleteModal">{{ 'delete'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
