{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ asset('assets/img/layout/cover-placeholder.jpg')|imagine_filter('entry_show') }}" alt="{{ 'photography'|trans }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="introduction">
        <h1>{{ 'photography'|trans }} {{ 'intro.by'|trans }} {{ 'authors.name'|trans }}</h1>
        <article class="text-container">
            <h2 class="h5">{{ 'introduction.headline'|trans|raw }}</h2>
            <p>
                {{ 'introduction.longtext'|trans|raw }}
            </p>
        </article>
        <ul class="list-unstyled clearfix social">
            <li><a href="mailto:schmick.fabian@web.de" class="fas fa-envelope" title="Mail"></a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/schm.fabian" class="fab fa-facebook" title="Facebook"></a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/fabianschmick/" class="fab fa-instagram" title="Instagram"></a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://xing.com/profile/Fabian_Schmick2" class="fab fa-xing" title="Xing"></a></li>
        </ul>
    </section>

    <section id="content" class="container entries-container">
        <div id="entries" data-justified="true" data-paginate="{{ path('paginate_entries') }}">
            {{ render(controller('App\\Controller\\EntryController::paginate', { 'page': 1 })) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.itemList([
            {
                'url': url('homepage'),
                'name': 'home'|trans
            },
            {
                'url': url('homepage', {'_fragment': 'introduction'}),
                'name': 'introduction'|trans
            },
            {
                'url': url('homepage', {'_fragment': 'entries'}),
                'name': 'gallery'|trans
            },
            {
                'url': url('tour_index_paginated', {'page': 1}),
                'name': 'tours'|trans
            }
        ]) }}
    </script>
    <script type="application/ld+json">
        {{ jsonLd.blog(block('title'), block('meta_description')) }}
    </script>

    {{ parent() }}
{% endblock %}
