{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ asset('assets/img/layout/cover-placeholder.jpg')|imagine_filter('entry_show') }}" alt="{{ 'photography'|trans }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="introduction">
        <h1>{{ 'photography'|trans }} {{ 'intro.by'|trans }} {{ 'authors.name'|trans }}</h1>
        <article class="text-container">
            <h2 class="h5">{{ 'introduction.headline'|trans|raw }}</h2>
            <p>
                {{ 'introduction.longtext'|trans|raw }}
            </p>
        </article>
        <ul class="list-unstyled clearfix social">
            <li>
                <a href="mailto:schmick.fabian@web.de" class="icon icon-mail" title="Mail">
                    <svg><use xlink:href="#mail-icon"/></svg>
                </a>
            </li>
            <li>
                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/schm.fabian" class="icon icon-facebook" title="Facebook">
                    <svg><use xlink:href="#facebook-icon"/></svg>
                </a>
            </li>
            <li>
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/fabianschmick/" class="icon icon-instagram" title="Instagram">
                    <svg><use xlink:href="#instagram-icon"/></svg>
                </a>
            </li>
            <li>
                <a target="_blank" rel="noopener noreferrer" href="https://xing.com/profile/Fabian_Schmick2" class="icon icon-xing" title="Xing">
                    <svg><use xlink:href="#xing-icon"/></svg>
                </a>
            </li>
        </ul>
    </section>

    <section id="content" class="container entries-container">
        <div class="entries" data-paginate="{{ path('entry_pagiante_ajax') }}">
            {{ render(controller('App\\Controller\\Frontend\\EntryController::ajaxPaginate', { 'page': 1 })) }}
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/img/layout/icons/download-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/facebook-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/instagram-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/mail-icon.svg')|inline_svg() }}
    {{ asset('assets/img/layout/icons/xing-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.itemList([
            {
                'url': url('homepage'),
                'name': 'home'|trans
            },
            {
                'url': url('homepage', {'_fragment': 'introduction'}),
                'name': 'introduction'|trans
            },
            {
                'url': url('homepage', {'_fragment': 'entries'}),
                'name': 'gallery'|trans
            },
            {
                'url': url('tour_index', {'page': 1}),
                'name': 'tours'|trans
            }
        ]) }}
    </script>
    <script type="application/ld+json">
        {{ jsonLd.blog(block('title'), block('meta_description')) }}
    </script>

    {{ parent() }}
{% endblock %}
