<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#00cdcd">
    <meta name="msapplication-TileColor" content="#00cdcd">
    <meta name="theme-color" content="#00cdcd">

    <title>{% block title %}{{ 'title.admin'|trans }}{% endblock %} | {{ 'header.authors_name'|trans }}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('css/admin') }}
    {% endblock %}
</head>

<!-- Developed by Fabian Schmick https://github.com/FabianSchmick/photography -->

{% set request = app.request %}
{% set sidebarToggled = request.cookies.get('sidebar-toggled') %}

<body id="page-top"{% if sidebarToggled == 'true' %} class="sidebar-toggled"{% endif %}>

<div id="wrapper" {% if not app.user %}style="height: 100%"{% endif %}>

    {% if app.user %}
        <aside id="sidebar-nav" class="bg-gradient-primary sidebar-wrapper">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion{% if sidebarToggled == 'true' %} toggled{% endif %}" id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin_index') }}">
                    <div class="sidebar-brand-icon">
                        <svg id="logo"><use xlink:href="#logo-camera"/></svg>
                    </div>
                    <div class="sidebar-brand-text mx-3 text-left">
                        <span class="text-left">{{ 'header.photography'|trans }}</span>
                    </div>
                </a>

                <hr class="sidebar-divider d-none d-md-block">

                {{ render(controller('App\\Controller\\Admin\\AdminController::renderSidebar')) }}

                {#<hr class="sidebar-divider d-none d-md-block">#}

                {#<div class="text-center d-none d-md-inline">#}
                    {#<button class="rounded-circle border-0" id="sidebarToggle"></button>#}
                {#</div>#}
            </ul>
        </aside>
    {% endif %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="{% if app.request.attributes.get('_route') == 'login' %}login-bg{% endif %}">
            {% if app.user %}
                <div class="navbar-wrapper static-top shadow bg-white">
                    <nav class="navbar navbar-expand navbar-light topbar mb-4">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <form action="#" id="top-search" class="d-none d-sm-inline-block form-inline mr-auto ml-md-2 my-2 my-md-0 mw-100 navbar-search" data-search="">
                            <div class="input-group d-flex align-items-center">
                                <input type="text" class="form-control border-0 small" placeholder="{{ 'label.search'|trans }}..." value="" autocomplete="off" aria-label="Search" name="query">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                    <form action="#" class="form-inline mr-auto w-100 navbar-search" data-search="">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="{{ 'label.search'|trans }}..." value="" autocomplete="off" aria-label="Search" name="query">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="flag">
                                        <svg><use xlink:href="#{{ request.locale }}-icon"/></svg>
                                    </span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        {{ 'header.languages'|trans }}
                                    </h6>
                                    {% for locale in locales|split('|') %}
                                        {% set lang = 'locale.' ~ locale %}
                                        <a class="dropdown-item d-flex align-items-center{% if request.locale == locale %} active{% endif %}" href="{{ path('core_switch_locale_admin', {'_locale': locale}) }}">
                                            <span class="flag mr-2">
                                                <svg>
                                                    <use xlink:href="#{{ locale }}-icon"/>
                                                </svg>
                                            </span> {{ lang|trans }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <li class="nav-item">
                                <a class="nav-link text-gray-700" href="{{ path('homepage', {'_locale': request.locale}) }}" target="_blank">
                                    <i class="fas fa-home fa-sm fa-fw mr-2"></i>
                                    <span class="d-none d-lg-inline">{{ 'btn.homepage'|trans }}</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-gray-500" href="{{ path('logout') }}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                                    <span class="d-none d-lg-inline">{{ 'btn.logout'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endif %}

            <main id="page-wrapper" class="container-fluid mt-5">
                {% block flash_messages %}
                    {% for type, flash_messages in app.session.flashBag.all %}
                        {% for flash_message in flash_messages %}
                            <div class="alert alert-{{ type }} alert-dismissible fade show mb-4" role="alert">
                                {{ flash_message|trans|raw }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                {% block body %}
                {% endblock %}
            </main>
        </div>
    </div>
</div>

<div id="site-modals">
    {% block modals %}
    {% endblock %}
</div>

<div id="embed-svg" style="display: none">
    {% block embed_svg %}
        {{ asset('assets/images/logo-camera.svg')|inline_svg() }}
        {{ asset('assets/images/layout/icons/de-icon.svg')|inline_svg() }}
        {{ asset('assets/images/layout/icons/en-icon.svg')|inline_svg() }}
        {{ asset('assets/images/layout/icons/spinner-icon.svg')|inline_svg() }}
    {% endblock embed_svg %}
</div>

{% block javascripts %}
    {% for js in encore_entry_js_files('js/admin') %}
        <script src="{{ asset(js) }}" type="text/javascript" defer="defer" async="async"></script>
    {% endfor %}
{% endblock %}
</body>
</html>
