{% import 'templates/macro/json-ld.html.twig' as jsonLd %}

{%- set request = app.request -%}
{%- if request.attributes.get('_route') -%}
    {% set pageUrl = url(request.attributes.get('_route'),
        request.attributes.get('_route_params')) %}
{%- endif -%}

<!DOCTYPE html>
<html lang="{{ request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_robots -%}
        <meta name="robots" content="noarchive">
    {% endblock %}

    {% block social_tags -%}
        <meta name="description" content="{% block meta_description %}{{ 'meta.desc'|trans }}{% endblock %}">
        <meta property="og:title" content="{{ block('title') }} | {{ 'header.authors_name'|trans }}"/>
        <meta property="og:type" content="website"/>
        {% if pageUrl -%}
            <meta property="og:url" content="{{ pageUrl }}"/>
        {% endif -%}
        <meta property="og:image" content="{% block meta_image %}{{ absolute_url(asset('assets/images/layout/cover-placeholder.jpg')) }}{% endblock %}"/>
        <meta property="og:description" content="{{ block('meta_description') }}"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="{{ block('title') }} | {{ 'header.authors_name'|trans }}"/>
        <meta name="twitter:description" content="{{ block('meta_description') }}"/>
        <meta name="twitter:image" content="{{ block('meta_image') }}"/>
        <meta itemprop="name" content="{{ block('title') }} | {{ 'header.authors_name'|trans }}"/>
        <meta itemprop="description" content="{{ block('meta_description') }}"/>
        <meta itemprop="image" content="{{ block('meta_image') }}"/>
    {% endblock %}

    {% if pageUrl -%}
        <link rel="canonical" href="{{ pageUrl }}"/>
    {% endif -%}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#00cdcd">
    <meta name="msapplication-TileColor" content="#00cdcd">
    <meta name="theme-color" content="#00cdcd">

    <title>{% block title %}{{ 'title.index'|trans }}{% endblock %} | {{ 'header.authors_name'|trans }}</title>

    {% block stylesheets -%}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}

    {% if app.environment == 'prod' and ga_property %}
        <!-- Google Analytics -->
        <script>
            var gaProperty = '{{ ga_property }}';

            var disableStr = 'ga-disable-' + gaProperty;
            if (document.cookie.indexOf(disableStr + '=true') > -1) {
                window[disableStr] = true;
            }

            function gaOptout() {
                document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
                window[disableStr] = true;
            }

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', gaProperty]);
            _gaq.push(['_gat._anonymizeIp']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</head>
<body id="{% block body_id %}body{% endblock %}">

<!-- Developed by Fabian Schmick https://github.com/FabianSchmick/photography -->

<noscript>
    <style>
        header#menu { margin-top: 55px; }
    </style>
    <div class="alert alert-danger" role="alert">
        {{ 'noscript'|trans }}
    </div>
</noscript>

<header id="menu" class="navbar navbar-default navbar-expand-lg fixed-top{% if request.attributes.get('_route') == 'post_show' %} force-on{% endif %}">
    <nav class="container">
        <div class="navbar-header d-flex justify-content-between">
            <a class="navbar-brand my-2" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo.jpg') }}" alt="logo"/> {{ 'header.authors_name'|trans }}</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar-collapse" aria-controls="main-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{ path('homepage', {'_fragment': 'introduction'}) }}" class="nav-link page-scroll" data-target="#introduction">{{ 'header.introduction'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('homepage', {'_fragment': 'gallery'}) }}" class="nav-link page-scroll" data-target="#gallery">{{ 'header.gallery'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('tour_index', {'page': '1'}) }}" class="nav-link page-scroll" data-target="#tours">{{ 'header.tours'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('imprint-dataprotection') }}" class="nav-link page-scroll" data-target="#imprint-privacy">{{ 'imprint.privacy.policies'|trans }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="language-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% set lang = 'locale.' ~ request.locale %}
                        <span class="flag"><svg><use xlink:href="#{{ request.locale }}-icon"/></svg></span> {{ lang|trans }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="language-dropdown">
                        {% for locale in locales|split('|') %}
                            {% set lang = 'locale.' ~ locale %}
                            <li class="dropdown-item">
                                <a href="{{ path('homepage', {'_locale': locale}) }}" {% if request.locale == locale %}class="active"{% endif %}>
                                    <span class="flag">
                                        <svg>
                                            <use xlink:href="#{{ locale }}-icon"/>
                                        </svg>
                                    </span> {{ lang|trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% block cover %}
{% endblock %}

{% block breadcrumb %}
    {% if breadcrumbs is defined %}
        <nav aria-label="breadcrumb" class="text-center">
            <ol class="breadcrumb justify-content-center flex-nowrap">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}" class="link border-0">{{ 'header.home'|trans }}</a></li>
                {% for breadcrumb in breadcrumbs %}
                    {% if not loop.last %}
                        <li class="breadcrumb-item text-truncate"><a href="{{ breadcrumb.url }}" class="link border-0">{{ breadcrumb.name }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item text-truncate active" aria-current="page">{{ breadcrumb.name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    {% endif %}
{% endblock %}

<main>
    {% block content %}
        <section id="content">
        </section>
    {% endblock %}
</main>

<div id="embed-svg" style="display: none">
    {% block embed_svg %}
        {{ asset('assets/images/layout/icons/de-icon.svg')|inline_svg() }}
        {{ asset('assets/images/layout/icons/en-icon.svg')|inline_svg() }}
    {% endblock embed_svg %}
</div>

{% block javascripts %}
    {% if breadcrumbs is defined %}
        <script type="application/ld+json">
            {{ jsonLd.breadcrumbList(breadcrumbs) }}
        </script>
    {% endif %}

    {% if pageUrl %}
        <script type="text/javascript">
            const PAGE_URL = "{{ pageUrl }}";
            const TRANSLATION_MAP = {
                'chart.headerFormat': "{{ 'chart.headerFormat'|trans }}",
                'chart.pointFormat': "{{ 'chart.pointFormat'|trans }}",
                'unit.decimalSeparator': "{{ 'unit.decimalSeparator'|trans }}",
                'unit.thousandsSeparator': "{{ 'unit.thousandsSeparator'|trans }}",
            };
            {% if thunderforest_tiles_api_key %}
                const MAP_TILES_URL = 'https://tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey={{ thunderforest_tiles_api_key }}';
            {% else %}
                const MAP_TILES_URL = 'https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png';
            {% endif %}
        </script>
    {% endif %}

    {% for js in encore_entry_js_files('js/app') %}
        <script src="{{ asset(js) }}" type="text/javascript" defer="defer" async="async"></script>
    {% endfor %}
{% endblock %}
</body>
</html>
