{% extends 'base.html.twig' %}

{% block meta_description %}{{ 'page.not.found'|trans }}{% endblock %}

{% block title %}{{ 'page.not.found'|trans }}{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ asset('assets/img/layout/cover-placeholder.jpg')|imagine_filter('entry_show') }}" alt="{{ 'header.photography'|trans }}"/>
    </section>
{% endblock %}
{% block content %}
    <section id="content" class="container error">
        <h1>{{ 'page.not.found'|trans }}</h1>

        <article class="text-container">
            <p class="text-center">
                {{ 'page.not.found.explanation.1'|trans }} <a href="{{ path('homepage') }}">{{ 'page.not.found.explanation.2'|trans }}</a>.
            </p>
        </article>
    </section>
{% endblock %}
