{% extends 'base.html.twig' %}

{% block meta_description %}{{ 'site.error'|trans }}{% endblock %}

{% block title %}{{ 'site.error'|trans }}{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ asset('assets/images/layout/cover-placeholder.jpg')|imagine_filter('entry_show') }}" alt="{{ 'header.photography'|trans }}"/>
    </section>
{% endblock %}
{% block content %}
    <section id="content" class="container error">
        <h1>{{ 'site.error'|trans }}</h1>

        <article class="text-container">
            <p class="text-center">
                {{ 'site.error.explanation.1'|trans }} <a href="{{ path('homepage') }}">{{ 'site.error.explanation.2'|trans }}</a>.
            </p>
        </article>
    </section>
{% endblock %}
