{% extends 'base.html.twig' %}

{% set desc = tag.description|striptags %}
{% if desc == "" %}
    {% set desc = 'introduction.tag'|trans ~ ' ' ~ tag.name %}
{% endif %}

{% set img = absolute_url(asset('assets/img/layout/cover-placeholder.jpg')) %}
{% if tag.image %}
    {% set img = absolute_url(vich_uploader_asset(tag.image, 'file')) %}
{% endif %}

{% block meta_description %}{{ desc }}{% endblock %}

{% block meta_image %}{{ img }}{% endblock %}

{% block title %}{{ 'tag'|trans }} {{ tag.name }}{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <div class="parallax" {% if tag.image %}style="background-image: url({{ vich_uploader_asset(tag.image, 'file')|imagine_filter('entry_show') }})"{% endif %}>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1>{{ tag.name }}</h1>

        <article class="text-container text-center">
            <h2 class="h4">{{ 'introduction.tag'|trans }} <strong>{{ tag.name }}</strong></h2>

            {% if tag.description != "" %}
                {{ tag.description|raw }}
            {% endif %}

            {% if relatedTags|length > 1 %}
                <div class="similar-tags">{{ 'similar.tags'|trans }}:</div>
                <ul class="list-unstyled tags" style="display: inline-block">
                    {% for relatedTag in relatedTags %}
                        <li><a href="{{ path('tag_show', {'slug': relatedTag.slug}) }}">{{ relatedTag.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </article>

        <div id="entries" data-justified="true">
            {{ render(controller('AppBundle:Tag:paginate', {'slug': tag.slug, 'page': 1 })) }}

            <div id="spinner" class="spinner" style="display: none">
                <svg>
                    <use xlink:href="#spinner-icon"/>
                </svg>
            </div>
        </div>
    </section>
{% endblock %}

{% block embed_svg %}
    {{ parent() }}
    {{ asset('assets/img/layout/icons/spinner-icon.svg')|inline_svg() }}
{% endblock embed_svg %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        var paginateUrl = "{{ path('paginate_by_tag', {'slug': tag.slug}) }}";

        jQuery(document).ready(function() {
            lazyLoad();
            justify();
            lightbox();
        });
    </script>
{% endblock %}
