{% extends 'admin.html.twig' %}

{% block title %}{{ 'edit'|trans }} - {{ tag.name }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header clearfix">
            <div class="pull-left">
                <h1>{{ tag.name }}</h1>
            </div>
            <div class="pull-right">
                <ul class="actions list-unstyled pull-right">
                    <li><a class="btn btn-primary" href="{{ path('tag_show', {'slug': tag.slug}) }}" target="_blank" title="{{ 'live.view'|trans }}"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="flash-notice alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flash_message }}
            </div>
        {% endfor %}

        <div id="deleteImageAlert" class="flash-notice alert alert-danger fade in" style="display: none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ 'delete.tag.alert'|trans }}
        </div>

        {{ form_start(form, {'action': path('admin_tag_edit', {'id': tag.id}), 'attr': {'class': 'form-horizontal'}}) }}

            {{ form_errors(form) }}

            <div id="deleteModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ 'delete'|trans }}?</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'delete.msg.tag'|trans }} <strong>{{ tag.name }}</strong>?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('admin_tag_delete', {'id': tag.id}) }}" class="btn btn-danger">{{ 'delete'|trans }}</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="tag_name">{{ 'name'|trans }}*</label>
                <div class="col-sm-10">
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="tag_description">{{ 'description'|trans }}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.description, {'attr': {'class': 'wysiwyg'}}) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="tag_image_file_file">{{ 'image'|trans }}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.image) }}
                    {{ form_errors(form.image) }}
                    {% if tag.image %}
                        <p class="help-block">({{ 'img.upload.info'|trans }})</p>
                    {% endif %}
                </div>
            </div>

            {{ form_rest(form) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" type="submit" name="submit">{{ 'submit'|trans }}</button>
                    <button class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#deleteModal">{{ 'delete'|trans }}</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
