{% extends 'admin.html.twig' %}

{% block body %}

    <div class="tags">
        {% for tag in tags %}
            <div class="tag">
                <div class="tagName">
                    {{ tag.name }}
                </div>
                <a href="{{ path('tag_edit', {'id': tag.id}) }}">{{ 'edit'|trans }}</a>
                <a href="{{ path('tag_delete', {'id': tag.id}) }}">{{ 'delete'|trans }}</a>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('tag_new') }}">{{ 'new.tag'|trans }}</a>

{% endblock %}
