{% extends 'admin.html.twig' %}

{% block title %}{{ 'new.tag'|trans }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">{{ 'new.tag'|trans }}</h1>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="flash-notice alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flash_message|raw }}
            </div>
        {% endfor %}

        {{ form_start(form, {'action': path('admin_tag_new')}) }}

            {{ form_errors(form) }}

            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" type="submit" name="submit">{{ 'submit'|trans }}</button>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
