{% extends 'admin.html.twig' %}

{% block title %}{{ 'login'|trans }}{% endblock %}

{% block body %}
    <section id="login" class="container text-center">

        {{ form_start(form, {'attr': {'class': 'login-form shadow'}}) }}

            <h1 class="h3 pb-2">{{ 'sign.in'|trans }}</h1>

            <hr/>

            {{ form_errors(form) }}

            {{ form_widget(form._username) }}

            {{ form_widget(form._password) }}

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="login"><i class="fas fa-sign-in-alt"></i> {{ 'login'|trans }}</button>

            <hr/>

            <a href="{{ path('homepage') }}"><i class="fas fa-angle-left"></i> {{ 'back.to.homepage'|trans }}</a>

        {{ form_end(form) }}
    </section>
{% endblock %}
