{% extends 'admin.html.twig' %}

{% block title %}{{ 'login'|trans }}{% endblock %}

{% block body %}
    <section id="login" class="container text-center">
        <h1 class="h3 mb-3">{{ 'sign.in'|trans }}</h1>

        {{ form_start(form, {'attr': {'class': 'login-form'}}) }}

            {{ form_errors(form) }}

            {{ form_widget(form._username) }}

            {{ form_widget(form._password) }}

            {{ form_rest(form) }}

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="login"><i class="fas fa-sign-in-alt"></i> {{ 'login'|trans }}</button>

        {{ form_end(form) }}
    </section>
{% endblock %}
