{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block meta_description %}{{ 'tours.headline'|trans }} - {{ 'page'|trans }} {{ page }} - ({{ 'introduction.tours.headline'|trans|striptags }}){% endblock %}

{% block meta_image %}{{ absolute_url(asset('assets/img/layout/cover-tour.jpg')) }}{% endblock %}

{% block title %}{{ 'tours'|trans }} - {{ 'page'|trans }} {{ page }}{% endblock %}

{% block body_id %}tours{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ asset('assets/img/layout/cover-tour.jpg')|imagine_filter('entry_show') }}" alt="{{ 'tours.headline'|trans }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1>{{ 'tours.headline'|trans }}</h1>
        <article class="text-container text-center">
            <h2 class="h5">{{ 'introduction.tours.headline'|trans|raw }}</h2>
            <p>
                {{ 'introduction.tours'|trans|raw }}
            </p>
        </article>

        <div id="tours-container">
            {% if pages > 1 %}
                <ul class="pagination justify-content-center" data-replace="#tours-container">
                    {{ paginate(page, pages, 'tour_index_paginated') }}
                </ul>
            {% endif %}

            <ul class="tours row list-unstyled">
                {% for tour in tours %}
                    <li class="col-lg-6">
                        <a href="{{ path('tour_show', {'slug': tour.slug}) }}">
                            <div class="tour-preview-img">
                                {% if tour.previewEntry %}
                                    <img src="{{ vich_uploader_asset(tour.previewEntry.image, 'file')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.previewentry.name }}">
                                {% else %}
                                    <img src="{{ asset('assets/img/layout/cover-tour.jpg')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.name }}">
                                {% endif %}
                            </div>
                            <div class="tour-info-container">
                                <div class="tour-info clearfix">
                                    <h4 class="h1">{{ tour.name }}</h4>
                                    <p>
                                        {% if tour.description %}
                                            {{ tour.description|striptags|truncate(220, true) }}
                                        {% else %}
                                            {{ tour.gpxData.description|truncate(220, true) }}
                                        {% endif %}
                                    </p>
                                    <dl class="meta">
                                        {% if tour.gpxData.stats.distance %}
                                            {% set distance = tour.gpxData.stats.distance / 1000 %}
                                            <dt class="tour-distance"><i class="fa fa-arrows-alt-h" aria-hidden="true" title="{{ 'tour.distance'|trans }}"></i></dt>
                                            <dd class="tour-distance-value">{{ distance|number_format(1, ',', '.') }} {{ 'tour.distance.unit'|trans }}</dd>
                                        {% endif %}
                                        {% if tour.gpxData.stats.maxAltitude %}
                                            <dt class="tour-maxAltitude"><i class="fa fa-angle-up" aria-hidden="true" title="{{ 'tour.maxAltitude'|trans }}"></i></dt>
                                            <dd class="tour-maxAltitude-value">{{ tour.gpxData.stats.maxAltitude|number_format(1, ',', '.') }} {{ 'tour.altitude.unit'|trans }}</dd>
                                        {% endif %}
                                        {% if tour.gpxData.stats.minAltitude %}
                                            <dt class="tour-minAltitude"><i class="fa fa-angle-down" aria-hidden="true" title="{{ 'tour.minAltitude'|trans }}"></i></dt>
                                            <dd class="tour-minAltitude-value">{{ tour.gpxData.stats.minAltitude|number_format(1, ',', '.') }} {{ 'tour.altitude.unit'|trans }}</dd>
                                        {% endif %}
                                    </dl>
                                    <button class="btn btn-teritary btn-inverse">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i> {{ 'show.tour'|trans }}
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% if pages > 1 %}
                <ul class="pagination justify-content-center" data-replace="#tours-container">
                    {{ paginate(page, pages, 'tour_index_paginated') }}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="application/ld+json">
        {{ jsonLd.collectionPage(tours) }}
    </script>

    {{ parent() }}

    <script type="application/javascript">
        jQuery(document).ready(function() {
            pagination();
        });
    </script>
{% endblock %}
