{% extends 'base.html.twig' %}

{% block meta_description %}{{ 'tours.headline'|trans }} ({{ 'introduction.tours.headline'|trans|striptags }}){% endblock %}

{% block meta_image %}{{ absolute_url(asset('assets/img/layout/cover-placeholder.jpg')) }}{% endblock %}

{% block title %}{{ 'tours'|trans }}{% endblock %}

{% block body_id %}tours{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <div class="parallax" style="background-image: url({{ asset('assets/img/layout/cover-placeholder.jpg')|imagine_filter('entry_show') }})">
        </div>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1>{{ 'tours.headline'|trans }}</h1>
        <article class="text-container text-center">
            <h2 class="h4">{{ 'introduction.tours.headline'|trans|raw }}</h2>
            <p>
                {{ 'introduction.tours'|trans|raw }}
            </p>
        </article>

        <ul id="tours" class="tours row list-unstyled">
            {% for tour in tours %}
                <li class="col-lg-6">
                    <a href="#">
                        <div class="tour-preview-img">
                            {% if tour.previewEntry %}
                                <img src="{{ vich_uploader_asset(tour.previewEntry.image, 'file')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.previewEntry.title }}">
                            {% else %}
                                <img src="{{ asset('assets/img/layout/cover-placeholder.jpg')|imagine_filter('tour_thumbnail') }}" alt="{{ tour.name }}">
                            {% endif %}
                        </div>
                        <div class="tour-info-container">
                            <div class="tour-info clearfix">
                                <h4 class="h1">{{ tour.name }}</h4>
                                {% if tour.description %}
                                    {{ tour.description|raw }}
                                {% else %}
                                    <p>
                                        {{ tour.gpxData.description }}
                                    </p>
                                {% endif %}
                                <dl class="meta">
                                    {% if tour.gpxData.stats.distance %}
                                        {% set distance = tour.gpxData.stats.distance / 1000 %}
                                        <dt class="tour-distance"><i class="fa fa-arrows-h" aria-hidden="true" title="{{ 'tour.distance'|trans }}"></i></dt>
                                        <dd class="tour-distance-value">{{ distance|number_format(1, ',', '.') }} {{ 'tour.distance.unit'|trans }}</dd>
                                    {% endif %}
                                    {% if tour.gpxData.stats.maxAltitude %}
                                        <dt class="tour-maxAltitude"><i class="fa fa-angle-up " aria-hidden="true" title="{{ 'tour.maxAltitude'|trans }}"></i></dt>
                                        <dd class="tour-maxAltitude-value">{{ tour.gpxData.stats.maxAltitude|number_format(1, ',', '.') }} {{ 'tour.altitude.unit'|trans }}</dd>
                                    {% endif %}
                                    {% if tour.gpxData.stats.minAltitude %}
                                        <dt class="tour-minAltitude"><i class="fa fa-angle-down " aria-hidden="true" title="{{ 'tour.minAltitude'|trans }}"></i></dt>
                                        <dd class="tour-minAltitude-value">{{ tour.gpxData.stats.minAltitude|number_format(1, ',', '.') }} {{ 'tour.altitude.unit'|trans }}</dd>
                                    {% endif %}
                                </dl>
                                <button class="btn">
                                     <i class="fa fa-angle-right" aria-hidden="true"></i> {{ 'show.tour'|trans }}
                                </button>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
