{% import 'templates/macro/json-ld.html.twig' as jsonLd %}
{% extends 'base.html.twig' %}

{% block meta_description %}{{ tour.description ? tour.description|striptags|truncate(160) : tour.gpxData.description|truncate(160) }}{% endblock %}

{% set img = tour.previewEntry ? vich_uploader_asset(tour.previewEntry.image, 'file') : asset('assets/img/layout/cover-tour.jpg') %}
{% block meta_image %}{{ absolute_url(img) }}{% endblock %}

{% block title %}{{ 'tour'|trans }} - {{ tour.name }}{% endblock %}

{% block cover %}
    <section id="cover" class="parallax-container">
        <img class="parallax" src="{{ img|imagine_filter('entry_show') }}" alt="{{ tour.name }}"/>
    </section>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <article class="tour">
            <h1>{{ tour.name }}</h1>
            <div class="text-container text-center tour-desc">
                {% if tour.description %}
                    {{ tour.description|raw }}
                {% else %}
                    <p>{{ tour.gpxData.description }}</p>
                {% endif %}
            </div>
            <div class="row tour-info">
                <div class="col-xs-12 tour-data">
                    <h3>{{ 'tour.data'|trans }}</h3>
                    <dl class="dl-horizontal meta-table">
                        {% if tour.gpxData.stats.distance %}
                            {% set distance = tour.gpxData.stats.distance / 1000 %}
                            <dt class="tour-distance">{{ 'tour.distance'|trans }} <i class="fa fa-arrows-h" aria-hidden="true"></i></dt>
                            <dd class="tour-distance-value">{{ distance|number_format(1, ',', '.') }} {{ 'tour.distance.unit'|trans }}</dd>
                        {% endif %}
                        {% if tour.gpxData.stats.maxAltitude %}
                            <dt class="tour-maxAltitude">{{ 'tour.maxAltitude'|trans }} <i class="fa fa-angle-up" aria-hidden="true"></i></dt>
                            <dd class="tour-maxAltitude-value">{{ tour.gpxData.stats.maxAltitude|number_format(1, ',', '.') }} {{ 'tour.altitude.unit'|trans }}</dd>
                        {% endif %}
                        {% if tour.gpxData.stats.minAltitude %}
                            <dt class="tour-minAltitude">{{ 'tour.minAltitude'|trans }} <i class="fa fa-angle-down" aria-hidden="true"></i></dt>
                            <dd class="tour-minAltitude-value">{{ tour.gpxData.stats.minAltitude|number_format(1, ',', '.') }} {{ 'tour.altitude.unit'|trans }}</dd>
                        {% endif %}
                        {% if tour.gpxData.stats.cumulativeElevationGain %}
                            <dt class="tour-cumulativeElevationGain">{{ 'tour.cumulativeElevationGain'|trans }} <i class="fa fa-expand" aria-hidden="true"></i></dt>
                            <dd class="tour-cumulativeElevationGain-value">{{ tour.gpxData.stats.cumulativeElevationGain|number_format(1, ',', '.') }} {{ 'tour.altitude.unit'|trans }}</dd>
                        {% endif %}
                        {% if locations %}
                            <dt class="tour-locations">{{ 'tour.locations'|trans }} <i class="fa fa-globe" aria-hidden="true"></i></dt>
                            <dd class="tour-locations-value">{{ locations|join(', ') }}</dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="col-xs-12 text-center tour-map">
                    <h3>{{ 'tour.map'|trans }}</h3>
                    <div id="map"></div>
                    <a class="btn" href="{{ path('download_file', {'file': tour.file.fileName}) }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> {{ 'tour.download'|trans }}</a>
                </div>
                {% if not tour.entries.empty %}
                    <div class="col-xs-12 tour-pictures">
                        <h3>{{ 'tour.pictures'|trans }}</h3>
                        <div class="text-container gallery" data-justified="true">
                            {% for entry in tour.entries %}
                                {% set url = path('entry_show', {'slug': entry.slug}) %}
                                {% set src = path('ajax_entry_show', {'id': entry.id}) %}
                                <a href="{{ url }}" data-fancybox="entries" data-src="{{ src }}" data-type="ajax">
                                    <img src="{{ vich_uploader_asset(entry.image, 'file')|imagine_filter('entry_thumbnail') }}" alt="{{ entry.name }}">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </article>
    </section>
{% endblock %}

{% block javascripts %}
    {% set firstPoint = tour.gpxData.segments[0].points|first %}
    {% set lastPoint = tour.gpxData.segments[0].points|last %}

    <script type="application/ld+json">
        {{ jsonLd.breadcrumbList([
            {
                'url': url('tour_index_paginated', {'page': 1}),
                'name': 'tours'|trans
            },
            {
                'url': url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')),
                'name': tour.name
            },
        ]) }}
    </script>
    <script type="application/ld+json">
        {{ jsonLd.blogPosting(tour, tour.previewEntry) }}
    </script>
    <script type="application/ld+json">
        {{ jsonLd.sportsActivityLocation(tour) }}
    </script>

    {{ parent() }}

    <script type="application/javascript">
        var paginateUrl = false;

        jQuery(document).ready(function() {
            justify();
            lightbox();
            map('{{ vich_uploader_asset(tour.file, 'file') }}', [{{ firstPoint.latitude }}, {{ firstPoint.longitude }}])
        });
    </script>
{% endblock %}
